[2012-11-12 21:40] emperorcezar opened #4 "Widget should using JQuery or Something"
Currently the widget is very homegrown. It works great, but is difficulty to grep and modify. I propose a rewrite into JQuery/Backbone or something to keep the widget code minimal and maintainable.

[2012-11-13 22:53] dominicrodger opened #6 "Tag doesn't match version in setup.py"
Can we update the version of setup.py which is tagged at 1.0 to have the version 1.0? The mismatch between the two values is a bit confusing. I'm not familiar enough with tags to do this myself - if neither @tamask or @emperorcezar are, I'll figure it out.

I'm not sure if we should then update the version number in setup.py, to distinguish it from the 1.0 release - perhaps we should make it 1.1-d

[2012-11-14 15:49] #6 closed, assigned to nobody

[2013-01-07 07:17] dominicrodger opened #9 "Can't save None into a RecurrenceField"
Steps to reproduce:

[code]

Then try saving implicit `None`:

[code]

Save explicit `None`:

[code]

I'm pretty sure this used to work with the version of django-recurrence I bundled into my app (I discovered this when removing my bundled version and switching to django-recurrence 1.0).

I'll take a look at this, unless anyone has immediate ideas of what's wrong.

[2013-01-07 19:38] #9 closed, assigned to dominicrodger

[2013-01-17 23:42] nueverest opened #11 "Add example usage of RecurrenceField and RecurrenceModelField to the README"
Currently, I'm finding it difficult to use this code because it requires that I look under the hood quite a bit.  I am still unsure when/where to use the RecurrenceField as opposed to the  RecurrenceModelField in the Event model that I've defined in my project.

Good example usage in the documentation at the models.py and views.py level will make this project more accessible to individuals that ha

[2013-01-21 09:45] #11 closed, assigned to nobody

[2013-01-23 13:42] nueverest opened #13 "Import statement is missing from README.md"
The line: recurrences = recurrence.fields.RecurrenceField() requires an import statement for recurrence.

Something like: import recurrence

[2013-01-23 13:50] #13 closed, assigned to nobody

[2013-06-28 18:38] jelko opened #14 "Widget should include a field for dtstart"
The javascript part of **RecurrenceWidget** should include a way to add a start date to a rule. Right now none is saved. This leads to a **dtstart** of _datetime.now()_ when the occurrences are generated.
For most users this is probably not a desired behavior.

[2014-03-25 00:52] gregsadetsky opened #20 "Incorrect occurrences when using rule + excluded date"
I'm seeing incorrect occurrences when defining a recurrence in the following way:

(new rule) Daily, until some date, or occurs N times
(new date) Excluding some date

My Django model `my_object` has a `RecurrenceField` named `recurrences`. Today is March 24th, I define a daily rule on every day until March 29th and I exclude Friday March 28th.

`list(my_object.recurrences.occurrences())` produces

[2014-09-27 22:46] jbradberry opened #23 "Needs some docs"
This project looks like may be quite useful, but it could really use some documentation.

[2014-09-30 06:13] macropin opened #24 "How to configure frequencies"
The code comments state that by default all frequencies are enabled. However in reality in django admin only the first [4 are enabled](https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/static/recurrence/js/recurrence-widget.js#L759).

How can I enable all recurrence frequencies? ie _Hourly_, _Minutely_.

![frequencies](https://cloud.githubusercontent.com/assets/247192/4

[2014-10-20 18:34] mbertheau opened #25 "bool(recurrence) always True"
[code]

It seems like this function always returns True since the comma here makes the tested expression a two-tuple which is True in boolean context.

See also https://github.com/django-recurrence/django-recurrence/commit/0fdde40a2e0a43a75e0e9203dbd3b19e78079bb2#commitcomment-7619127

[2014-10-20 21:03] #25 closed, assigned to nobody

[2014-10-21 06:12] mbertheau opened #26 "Questionable handling of aware timestamps"
When generating weekly occurrences that cross a dst change boundary for an aware base datetime, the time in the normalized datetimes doesn't stay the same.

For example, for
`2014-10-22 10:30 CEST` with a weekly recurrence, the next generated datetime is
`2014-10-29 10:30 CEST`, which normalizes to
`2014-10-29 9:30 CET`. What I want though is
`2014-10-29 10:30 CET`.

We work around that by passing

[2014-10-24 19:37] jbradberry opened #27 "Widget js is raising errors"
Using the minimal `Course` model from the docs, I've created the following template, and a suitable create view and model form to match:

[code]

However, when actually accessing this view, I see these three errors show up in Firebug, and the recurrence field is rendered as just a plain text input.

[code]

This is using django-recurrence==1.0.3, pip installed from PyPI.

[2014-10-27 19:47] #27 closed, assigned to nobody

[2014-10-31 20:09] #23 closed, assigned to nobody

[2014-10-31 20:13] dominicrodger opened #28 "Release 1.1.0"
Release notes for all the changes since 1.0.3 are at https://django-recurrence.readthedocs.org/en/latest/changelog.html.

Could you cut a release, @emperorcezar?

[2014-11-03 14:52] #28 closed, assigned to emperorcezar

[2014-11-04 03:49] brechmos opened #29 "Fourth of the month"
First, I was really pleased to find this app.  It is going to be a huge help for me.  Thanks.

I was a little surprised, for the monthly repeating, to see First, Second, Third and Last.  But no Fourth.  Is there a reason not to have a Fourth.  Is there a reason? I must be missing something.

[2014-11-10 10:27] lkeijser opened #30 "rrule.to_text() outputs incorrect month"
Hi, I have a recurring rule object with this rule:

RRULE:FREQ=YEARLY;BYMONTH=11

When I use its to_text() method, I get:

annually, each December

And actually it should be  'anually, each November'

Léon

[2014-11-10 20:48] #30 closed, assigned to dominicrodger

[2014-12-19 11:01] Seether85 opened #34 "Widget wrong visualization with django-recurrence + django-admin-bootstrap"
As per title, when trying to use the two together, I obtain this:

![1](https://cloud.githubusercontent.com/assets/8349902/5503381/86e3e47c-8776-11e4-8e01-def258a9d0d4.png)
![2](https://cloud.githubusercontent.com/assets/8349902/5503382/86f20ebc-8776-11e4-85a6-216a56a5ffec.png)

Basically, the widget is rendered *under* the other parts of the form, and I'm unable to fix it without messing up with

[2015-01-14 08:50] Seether85 commented on #34
Just in case anyone else is interested.
Here you can find my open-to-improvements solution: https://github.com/douglasmiranda/django-admin-bootstrap/issues/59

[2015-01-14 09:19] Seether85 opened #35 "Problem with "May" month"
I'm finishing the Italian translation for django-recurrence (which I will release here of course, if you want).

There is a problem with the fifth month though. Its translation within the months table and the calendar widget seems to be referring to the same line, which is causing troubles, in sense that it's either like this:

![1](https://cloud.githubusercontent.com/assets/8349902/5736447/2df5a0

[2015-01-14 09:40] dominicrodger commented on #35
Nice find. That definitely seems like a bug. I imagine we've not spotted it because all our previous translations are for languages where the short and long names for May are the same.

Do you have a moment to submit a pull request with a fix? We'll also need to fix up the en, nl and fr locales. If not, I'll see what I can do.

[2015-01-14 09:49] Seether85 commented on #35
Honestly, I've tried fixing by adding another line after #390 to include the short version for May, but then django was complaining about a double definition while recompiling the messages.
If you can point me to a better way to do this, I'll try my best.

[2015-01-14 10:19] mbertheau commented on #35
Use contextual markers: https://docs.djangoproject.com/en/1.7/topics/i18n/translation/#contextual-markers

[2015-01-14 11:19] Seether85 commented on #35
Ok, I've been trying something but I'm still fairly new to Django, and it seems I'm not going very far yet.

What I've done so far:
base.py:
    from django.utils.translation import pgettext
    modified line 1111: gettext('Apr'), gettext('short May name'), gettext('Jun'),

After recompiling the messages, django.po included:
    #: apps/recurrence/base.py:1111
    #, fuzzy
    #| msgid "May"
    m

[2015-01-14 12:14] mbertheau commented on #35
@Seether85 you need to use the pgettext family of functions: pgettext('short name', 'May') in both places.

[2015-01-14 14:05] dominicrodger commented on #35
Thanks for your help here @mbertheau - really appreciated. @Seether85 - I'll leave this with you for now - let me know if you'd rather we took care of it.

[2015-01-14 15:14] Seether85 commented on #35
I've tried as suggested. Yet no success. Currently I have these changes:

static/recurrence/js/recurrence.js:1062:    gettext('April'), pgettext('full month', 'May'), gettext('June'),
static/recurrence/js/recurrence.js:1068:    gettext('April'), pgettext('3 letter month', 'May'), gettext('June'),
static/recurrence/js/recurrence.js:1074:    gettext('April'), pgettext('3 letter month', 'May'), gette

[2015-01-14 15:19] mbertheau commented on #35
@Seether85 Is there a public branch that someone can look at the changes?

[2015-01-14 15:39] Seether85 commented on #35
@mbertheau assuming I haven't made mistakes (although it already took me 2 commits), there it should be: https://github.com/Seether85/django-recurrence

[2015-01-14 15:48] mbertheau commented on #35
@Seether85 the changes in https://github.com/Seether85/django-recurrence/commit/f84b70e3622430c22c7390e27907d60d75b8497b that are related to this issue look good, just two little things that I commented on. Then that should work! If you could prepare a PR with just the pgettext disambiguation changes, that'd be great.

[2015-01-14 16:30] Seether85 commented on #35
Sorry for taking so long, but I've never done such operations here, so I'm (hopefully) learning while doing them. @mbertheau could you please check if https://github.com/Seether85/django-recurrence/commit/06dc77133999c3b68bc97fb37c95007dce6f6ad0 is correct? Then I'll try to deal with the pull request.

[2015-03-04 17:12] msander opened #37 "EXRULE not working..."
I have created a rule that should occur every year from 1st to 10th of december.

Rule definition:

RRULE:FREQ=MONTHLY;BYMONTHDAY=1,2,3,4,5,6,7,8,9,10
EXRULE:FREQ=YEARLY;BYMONTH=1,2,3,4,5,6,7,8,9,10,11

In [100]: robj = recurrence.deserialize(rule)
In [102]: robj.occurrences().after(datetime.datetime.utcnow())
Out[102]: datetime.datetime(2015, 3, 5, 18, 8, 40)

any ideas?

[2015-03-04 19:42] msander commented on #37
I think the problem was that I have no reference date in my application; only rules from which I want to generate dates.

I solved this by monkey-patching the widget:

[code]

I'm not sure whether this is only useful for my application or in general?

[2015-03-05 11:22] dentemm opened #38 "Programmatically create recurrences"
I really like this project, but for my requirement I would also need the possibility to create some recurrences programmatically. I cannot seem to figure out how to create the recurrences attribute of a Course instance (example from your docs) by code.

Could you make a short addition to the docs on how to do this? Thanks!

Update:
I figured it out by looking into your tests. I will just add the s

[2015-03-09 19:48] dominicrodger commented on #38
Hey @dentemm - sorry for taking a few days to reply. Did you close this because you figured out how to do it, or for some other reason?

[2015-03-09 19:49] dominicrodger commented on #37
I'm a little confused - you posted this on 4th March, so the next date in your recurrence set looks to me like it should be 5th March. What were you expecting to get?

[2015-03-09 19:56] dentemm commented on #38
Hi Dominic,

thanks for replying, I closed the issue because I found the solution. Don’t worry about it, I learned a lot by looking into your code! Thank for the project.

I also edited my issue to include the solution for other people.

Best regards,

Tim

[2015-03-09 19:57] dentemm commented on #38
I found out how to do it, I also updated my initial post to include the solution for other people. Thanks for the project!

[2015-03-09 20:01] dominicrodger commented on #38
Ah - awesome, sorry I missed your original edit. I'll re-open this actually - maybe we could improve the documentation, to save people from having to dig into the tests in future.

[2015-03-09 20:26] dentemm commented on #38
Alright, good point.

[2015-03-10 22:32] msander commented on #37
My goal was to set "Every month except 1-11 on every day 1-10", i.e. 1.-10. december every year.
I guess it is not supposed to work without a first date.

[2015-03-11 07:09] dominicrodger commented on #37
Apologies @msander - I entirely missed the point of this bug report - that you were talking about exclusion rules rather than inclusion rules.

Annual rules (whether inclusion or exclusion rules) use the day of the month provided in ``dtstart``. So, if I set ``dtstart`` to (say) 4th March 2015, I'll get every day 1-3, 5-10 in January to November, and 1-10 in December. In other words, your exclusio

[2015-03-16 19:40] #38 closed

[2015-04-12 13:34] ulope opened #39 "Support defining the time when recurrences should happen"
Please consider adding an optional "time" parameter.

[2015-04-12 18:44] dominicrodger commented on #39
Can you clarify a bit what you're after? Do you mean an addition to the JavaScript widget to support something like "every 10 minutes" (which is not far off being supported by the backend code), or the ability to say things like "every 10 days, at 3pm UTC"?

[2015-04-12 18:51] ulope commented on #39
I wouldn't mind both, but what I'm interested in currently is the latter. If I understand the rrule documentation correctly it should support that with the dtstart argument containing a time portion.

[2015-04-12 18:56] dominicrodger commented on #39
OK - thanks. I wouldn't object to that being added. I've tended to add that in myself with a separate widget/field, and then combine them in Python. I'm not promising to work on this soon - but I will aim to get to it at some point in the next month or two, if no one else does it first (or feel free to work on it yourself @ulope, if you're happy to).

[2015-04-27 14:47] ghiotion opened #41 "Recurrence model filter"
I have an event model that has a start and end time as well as a RecurrenceField, which is not required (not all events have recurrences).  I've looked at the documentation and the tests, but it's not clear how one would get all recurrences for all event models without checking every event object for its recurrences.  Is it possible to do something like this:

    for item in Event.objects.filter(

[2015-04-27 20:01] dominicrodger commented on #41
There's not a better way of doing it than just checking every event object unfortunately, and I'm not sure anything we could build would be any more efficient than that anyway. If others have ideas for how to do better than that, they'd be very welcome, but I can't think of any.

[2015-04-27 20:10] ghiotion commented on #41
Thanks, that was the conclusion I reached, but I figured I'd ask.  One idea I had was using a boolean has_recurrence on the model (unless there's a way to check for recurrence - I didn't see one).  At least that way, you'll only need to check the objects that actually have a recurrence.

Thanks for the response.

[2015-04-27 20:14] dominicrodger commented on #41
If your recurrence object on your model is called ``foo``, you should be able to do something like:

    Course.objects.filter(foo__isnull=False)

to find objects with a recurrence object set. Let me know if you have trouble getting that to work, and I'll double-check I've got that right (I don't have a convenient Django shell to test with right now).

[2015-04-27 20:21] ghiotion commented on #41
Yep, that seems to work.  Appreciate it.

[2015-04-27 20:22] dominicrodger commented on #41
Great - closing this for now.

[2015-04-27 20:22] #41 closed

[2015-05-01 14:26] swmcc commented on #24
Me and a work colleague got this going for hourly. I will make a pull request this weekend on it.

[2015-05-01 14:38] dominicrodger commented on #24
Sounds great - thanks @swmcc!

[2015-05-05 21:39] swmcc commented on #24
This is still on my TODO list btw... I'll get to it by the end of the week. I've the fix done just adding documentation. I do think that maybe moving forward that it could be nicer to move the front-end into incorporating django forms instead of using JS. Would this be something that you think would be useful?

[2015-05-06 10:10] dominicrodger commented on #24
I suspect that wouldn't be easy - there'd be a huge amount of JS to rework, which would be difficult, and hard to test (we don't currently have any tests for the JS parts of django-recurrence). I'd probably avoid that change for now, personally.

[2015-05-06 20:53] swmcc commented on #24
I have added a basic form for this that me and my colleague (@chris-mccabe1988) wrote. I wish there was a nicer way to test this. That might be worth doing actually before me even putting this in as a PR... I will put it in as a PR feel free to do with it what you like. Might be worth waiting until there are tests for the JS though. This might help someone else out in the interim.
![screen shot 20

[2015-06-10 06:07] dominicrodger opened #44 "Figure out why Travis builds on 1.4 are broken"
We appear to not be alone here - e.g. https://github.com/bread-and-pepper/django-userena/issues/480. We've not changed anything that could break this - tests that used to pass on Travis are now failing.

Filing to track progress on getting this fixed.

[2015-06-10 06:10] dominicrodger commented on #44
Noting that a build which failed (e.g. https://travis-ci.org/django-recurrence/django-recurrence/jobs/66113051) used tox==2.0.2. I can't reproduce the failure on Ubuntu 14.04 using the same version of tox.

[2015-06-15 11:03] humbled opened #45 "Widget Rule definitions should allow day, day of month, month selection for all frequencies"
### tl;dr
The dateutil docs give examples like:
[code]
but we can't specify months AND days of week in the same rule in the django-recurrence widget

### Detail
I need to specify a range for certain days of the week, but only for particular months of the year (for seasonal activities). I can achieve an example of this in python with:

    list(rrule(YEARLY, bymonth=(1,2,3,7,9), byweekday=(SA,SU),

[2015-06-16 05:56] dominicrodger commented on #34
Marking as closed - I'm open to re-considering this, but for now, let's just ensure django-recurrence works with the vanilla admin, rather than the various admin skins.

[2015-06-16 05:56] #34 closed

[2015-06-16 06:00] dominicrodger commented on #45
Hey @humbled - thanks for the bug report.

I think this boils down to the same basic problem as reported in #37 - that there are various rules expressible in dateutil which aren't expressible using the django-recurrence widget. I'm honestly not really sure how to handle this - without a fairly significant JS change (and possibly rewrite, per #4). There are a couple of other issues that require JS

[2015-07-10 00:59] brechmos opened #47 "Django 1.8 / Python 3.3/3.4 Uncaught ReferenceError: pgettext is not defined"
I recently moved over to django 1.8 and Python3.  I completely understand that this is experimental for Python 3 and is valid for up to Django 1.7 but I am having an issue.

I continue to get Uncaught ReferenceError: pgettext is not defined.  I tried following the instructions:

    js_info_dict = {
        'packages': ('recurrence', ),
    }
    # jsi18n can be anything you like here
    urlpatte

[2015-07-10 16:20] dominicrodger commented on #47
Works for me with Django 1.8, though I've not tested with Python 3 (though that should be irrelevant, since the issue is with the JavaScript rather than the Python). Are you sure that you're seeing the ``jsi18n`` JavaScript included in your output HTML? That's what adds ``pggettext`` to global scope. That should be included automatically as part of ``{{ form.media }}``, so I'm not quite sure what

[2015-07-24 07:23] #44 closed

[2015-07-24 19:44] dominicrodger commented on #47
Did you ever manage to figure this out @brechmos?

[2015-07-27 13:14] brechmos commented on #47
Sorry, I was away on vacation this past week.  I found a small hack to get
around it but I have not figured it out. I will have more time this week to
see if I can figure out where my issue is.

On Fri, Jul 24, 2015 at 3:44 PM, Dominic Rodger <notifications@github.com>
wrote:

--

Craig Jones
craigj@jhu.edu
443-712-8152
mri.jhu.edu/~craig
Google Talk: brechmos
Skype: brechmos
FM Kirby Center, Kenn

[2015-07-29 01:10] Lidor7 opened #50 "Using inc=True and dtstart with between() incorrectly always includes the dtstart time"
Creating a weekly Monday recurrence.  Then getting all the occurrences between 2015-08-02 (Sunday) and 2015-08-11 (Tuesday) should return 2015-08-03 (Monday) and 2015-08-10 (Monday).

However, if I use the inc=True option to make start/end times inclusive and also use the dtstart option to specify the start date (lets me find occurrences in the past), it always includes the dtstart value as one of

[2015-08-05 05:19] Lythimus commented on #47
@brechmos would you mind sharing your hack? I'm getting the same issue using django 1.7.3 and recurrence 1.2.0. I also set up i18n preferences to see if that would get me past the missing requirement with no luck. I'm manually including recurrence.css, recurrence.js, and recurrence-widget.js in an extrastyle block in one of my templates in that order.

Here are my requirements if it's of any help:

[2015-08-05 05:58] dominicrodger commented on #47
So you also need to include the ``javascript_catalog`` view - which is where ``pgettext`` is defined (see https://docs.djangoproject.com/en/1.8/topics/i18n/translation/#module-django.views.i18n). May I ask why you're including things manually instead of just using ``{{ form.media }}``?

[2015-08-05 06:46] Lythimus commented on #47
@dominicrodger I have some other fields which need specific DOM elements wrapped around them in the form field for a library's sake. I included the `javascript_catalog` view import in my `urls.py`, but I'm still receiving the same error. I'll play with it some more tomorrow.

[2015-08-05 15:01] dominicrodger commented on #47
@Lythimus - are you actually including the jsi18n JavaScript in your HTML? The missing ``pgettext`` method is a JavaScript method defined in that file, so the browser needs to be able to see it for django-recurrence to work.

[2015-08-05 19:57] Lythimus commented on #47
I wasn't manually including the jsi18n file. I wasn't sure if you meant danabr's implementation of jsI18n or Ted or if it mattered, but regardless, my preference remained installing without requiring internationalization. So I threw the following in my template before pulling in `recurrence.js` and it seems to be functioning:

[code]

[2015-08-06 11:48] brechmos commented on #47
I actually ended up doing what @Lythimus  did too.

I hate to ask such a stupid question, though, how do you include the jsi18n in there?  I tried the "Set up Internationalization" in the Installation docs, but it didn't seem to do anything for me. I was still getting the pgettext problem.

[2015-08-06 18:46] dominicrodger commented on #50
Hi @Lidor7 - thanks for filing this - I appreciate you taking the time to report it :)

This one's a little difficult to fix without breaking other people's code, since I presume other people might have worked around it by just dropping the first element.

Are you sure it only happens if ``inc=True`` is set? If so, perhaps we could drop support for that keyword (perhaps add a new keyword ``inclusi

[2015-08-06 19:05] Lidor7 commented on #50
Yes, it only happens when inc=True.  When I drop that parameter it behaves as expected.

I'm glad that you're thinking about not breaking other people's code, but I don't believe dropping the first element is really a correct workaround.  In my example the dtstart date isn't an occurrence.  But imagine the case where the dtstart date is actually an occurrence.  You can't blindly drop the first ele

[2015-08-06 19:09] dominicrodger commented on #50
Excellent point about blindly dropping the first element - it looks like I reached that conclusion a while back, and applied the same workaround (https://github.com/dominicrodger/kanisa/blob/master/kanisa/models/diary.py#L121), presumably for the same reason.

OK - I'm happy for this to be fixed, and we'll just add something in the release notes to warn people about the change - we can do this in

[2015-08-07 21:38] Lidor7 commented on #50
I can give it a go.  I can't guarantee any particular timeline, though.  Feel free to bug me about it each week to remind me.

[2015-08-20 20:25] dominicrodger commented on #47
If you're using a form with a ``RecurrenceField`` on it, you should just add a ``{{ form.media }}`` somewhere in your template, and it should include the JavaScript for you.

@Lythimus - when you say "when django-recurrence internationalization detection
is fixed" in your comment above - do you mean that django-recurrence should detect the missing ``pgettext`` reference, and supply a dummy impleme

[2015-09-21 06:07] V1ce opened #53 "Use DateField instead DateTimeField"
Hi,

Thanks for this app really usefull, i use it for an event app.

The problem is i dont need time with my date, that just contrain me to do more loop for find  events, i have try to change DateTimeField to DateField in models.py at line 8,9,25 and 36. After that i delete and recreate reccurence field im my events models, but i always get a DateTimeField.

my views and templates for exemple, i h

[2015-09-21 10:16] dominicrodger commented on #53
Hi @V1ce,

Glad you found django-recurrence useful. I'm not sure we can help you without seeing your models - how do events link to categories?

I don't think we'll be making changes to switch our DateField to DateTimeField - in future it might be nice to have recurrences that are time-based as well as date-based (e.g. do something every 3 hours). I'd be extremely surprised if any performance issu

[2015-09-21 11:28] V1ce commented on #53
i dont really got performance problem, its in my head :p, i just think if i do more test for get my events my request its a little more long but no problems.

For my model, i just have category and Event with foreignKey to Category, my app work like this :

- I have a simple jquery datepicker in my pages, when i click on a date i go to my diary page with a parameter date like this "2015-09-21" at

[2015-09-21 15:47] V1ce commented on #53
After more tests i think this app can't help me anyway :(

unfortunately if i want create a rule , it begin at the current date, my need is to enter a date and add reccurence on it... Dont't see it during my test yesterday because i using the current date ^^

Bye

[2015-09-21 15:49] dominicrodger commented on #53
OK, thanks @V1ce.

[2015-09-21 15:49] #53 closed

[2015-09-21 16:05] V1ce commented on #53
Just a last question. We can use an end date for the recurrence, why not a start date?

[2015-09-21 17:37] V1ce commented on #53
I have find how to make recurrences with a start date simply with the docs... :

    from datetime import datetime
    import recurrence

    myrule = recurrence.Rule(
        recurrence.DAILY
    )

    pattern = recurrence.Recurrence(
        dtstart=datetime(2015, 10, 2, 0, 0, 0),
        dtend=datetime(2015, 10, 9, 0, 0, 0),
        rrules=[myrule, ]
    )

It thats i want, i got an event star

[2015-09-21 18:24] V1ce opened #54 "Add start date in a rule in admin widget"
Hi,

i want to set event recurrences in the admin widget with a start date but i dont find how to do this, start date of my rules automatically take a datetime.now()

    from datetime import datetime
    import recurrence

    myrule = recurrence.Rule(
        recurrence.DAILY
    )

    pattern = recurrence.Recurrence(
        dtstart=datetime(2015, 10, 2, 0, 0, 0),
        dtend=datetime(2015,

[2015-09-21 19:02] dominicrodger commented on #54
You can't do this with the JavaScript widget - if you need to do this, add a `DateField` to your model, and then use that for generating recurrences.

[2015-09-21 19:38] V1ce commented on #54
You mean i have to do something like this ?

    class Event(models.Model):
        title = models.CharField(_('title'), max_length=100,unique=True)
        slug = models.SlugField(_('slug'), unique=True,null = True, blank = True)
        start = models.DateField(_('start'))
        end = models.DateField(_('end'))
        recurrences = RecurrenceField()

        def save(self, *args, **kwargs):

[2015-09-21 19:39] dominicrodger commented on #54
No, you can just modify the way you get recurrences back to specify a start date, not the actual recurrence that is saved.

[2015-09-21 19:43] V1ce commented on #54
an automatic dtstart is set to datetime.now() when i save my models, there is no way to override this by my start date?

[2015-09-21 19:48] dominicrodger commented on #54
Sure there is - with something like this on your `Event` model:

    def occurrences_between(self, start_date, end_date):
        return self.recurrences.between(start_date, end_date,
                                        dtstart=start_date - timedelta(days=1),
                                        dtend=end_date)

If you don't want an end date, then you can use `after`. There's some [document

[2015-09-21 19:56] V1ce commented on #54
Sry i dont understand, if i have this (no end date) :

    class Event(models.Model):
        title = models.CharField(_('title'), max_length=100,unique=True)
        slug = models.SlugField(_('slug'), unique=True,null = True, blank = True)
        start = models.DateField(_('start'))
        recurrences = RecurrenceField()

i put my start date to 2015-10-02 , i create a daily recurrence rule with

[2015-09-21 20:00] dominicrodger commented on #54
When you save your model, you create a recurrence rule. You can (and should) override `dtstart`, per the documentation I linked above, in whatever code you're using to get yourself back a list of dates from a recurrence rule (I presume that's what you're doing - there's not much point storing recurrence information unless you're trying to get some dates out of the rule).

So, in your case, if you

[2015-09-22 17:49] V1ce commented on #54
Hi,

Thanks,i find a way with the between method, in my case i have a date from a datepicker and want list events with an occurrences for this date so :

models

    class Event(models.Model):
        title = models.CharField(_('title'), max_length=100,unique=True)
        date_start = models.DateTimeField(_('start'))
        recurrences = RecurrenceField(null = True, blank = True)

        def oc

[2015-09-22 19:12] dominicrodger commented on #54
I'm not quite sure what you're asking here. If your pattern doesn't match 9th October, you won't get 9th October. If you want to manually add the date 9th October, you can always add the date onto your array manually. Or am I misunderstanding what you're trying to do?

[2015-09-22 20:17] V1ce commented on #54
I assume that when i enter a daily recurrences for example from 2015-10-02 to 2015-10-09 my event finish at 2015-10-09 not at 2015-10-08 so why the until date is exclude?

[2015-09-23 20:59] trpt4him commented on #50
Hi there,

First off, thanks so much for your work on bringing this project back to life.  I was finding the idea of doing this myself daunting to say the least.

A few days ago I started working on adapting this into my django app alongside FullCalendar, and noticed that the "phantom" date was showing up.  I however am getting this even though I'm not using `inc=True`.

I believe it is related to

[2015-09-24 05:52] V1ce commented on #54
I have find why i have to add timedelta (days=1) when i call occurrences_between, if my own date_start is at 2015-10-02  00:00 and if i do raise ValueError(self.date_start) during occurences_between, thats return me this : 2015-10-01 22:00:00+00:00 , but if i show my date_start in the templates that return me 2015-10-02, i think i have a timezone problem or something like that...

[2015-09-24 13:52] V1ce commented on #54
Problem solve, timezone problem, i set default timezone to utc and just will convert output if needed. Sry for these incomprehensible questions i was so confused with dates and time :p

Last question, set a datetime.now() as default dtstart create so much usless occurrences in my case and i think many others, It would not be better to give us the possibility to set our own dtstart, and if the user

[2015-09-24 13:54] dominicrodger commented on #54
Glad you worked it out.

As to changing dtstart, that'd be backwards incompatible, and I'm not convinced it's worth the effort, personally. If someone can come up with a good way to make the change without making upgrading django-recurrence hard, I'd be happy to take a look, but let's handle that elsewhere.

[2015-09-24 13:54] #54 closed

[2015-09-24 16:06] dominicrodger commented on #50
@trpt4him - interesting, those lines do look odd to me. I'm having trouble reconciling your comment about it happening regardless of the value of ``inc`` with @Lidor7's comment about it only occurring when ``inc=True``. I wonder if we could add a test for this scenario, and see how it behaves.

[2015-09-25 12:50] V1ce opened #55 "Javascript widget, timezone problem"
Hi...

I definitely don't solve my timezones problems, maybe i can got here some advice about this, or soon ill have no hair in my head :p

Settings.py :

    TIME_ZONE = 'UTC'
    USE_TZ = True

This isnt my local timezone ("Europe, Paris") but i have read that is better to work with UTC and just convert the output datetime if needed.

Explications :

No problem with rules, they seems work correc

[2015-09-25 20:23] V1ce commented on #55
I solve my problems with some modification in recurrence-widget.js :

- Remove lined 1757 to 1759

- Add this after line 410 :

    var mydate = new Date();
    this.date.setHours(mydate.getHours());
    this.date.setMinutes(mydate.getMinutes());
    this.date.setSeconds(mydate.getSeconds());

Result, when i save a date via js calendar hour is setted at current time, permit me to don't get the pre

[2015-09-25 20:23] #55 closed

[2015-10-14 06:23] shamanis opened #56 "Django 1.7.7/Python 3.4.0: Invalid syntax"
So when you try to run the installation and obtain the following:

Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/home/envs/event_system/lib/python3.4/site-packages/django/core/management/__init__.py", line 385, in execute_from_command_line
    utility.execute()
  File "/home/envs/event_system/lib/python3.4/site-packages

[2015-10-14 06:26] shamanis commented on #56
Ouch! Sorry! I'm install version 1.0.0. Reinstall on version 1.2.0 - worked!

[2015-10-14 06:50] #56 closed

[2016-01-15 08:51] chrisbarry commented on #24
Hi, is there a PR for this yet? I could possibly help out.

[2016-01-15 18:10] swmcc commented on #24
I have it somewhere. I might be able to shove it up for next weekend if I can find it handy enough. I will let you know. Even if I can give what I have @chrisbarry then that might help?

[2016-02-18 17:09] masterrex commented on #47
I revised the docs and created a pull request to better reflect the current state of the package. Configuring internationalization is not something we should suggest users to 'skip' as it throws an exception in the browser and breaks the form.

[2016-02-23 22:06] edelvalle opened #62 "Warning: RemovedInDjango110Warning: SubfieldBase has been deprecated"
When runing this package with Django 1.9.1 I'm getting the warning:

[code]

Because the field:

[code]

Extends the `SubfieldBase`.

[2016-02-25 20:05] dominicrodger opened #64 "Update tested version"
Currently, tox.ini has:

    envlist = {py26}-{14,15,16},{py27}-{14,15,16,17},{py33,py34}-{15,16,17},docs,flake8

We should probably drop official support for Python 2.6 entirely, and start testing Django 1.8 and 1.9. We should also probably stop testing Django 1.4-1.7, since those are also EOL (see [the docs](https://www.djangoproject.com/download/#supported-versions)). We should also start testi

[2016-02-29 11:09] alextreme opened #65 "Recurrence.between() doesn't exclude Feb 29th when Recurrence has empty dtstart and inclusion is Daily"
The following failing test describes the issue:

https://github.com/django-recurrence/django-recurrence/compare/master...alextreme:feb29-exclusion?expand=1

It's an edge-case that only occurs with between() when the Recurrence is daily and the exclusion is Feb 29th and dtstart isn't filled in.

I've been able to easily work around it by either setting dtstart or providing an alternative exclusion

[2016-03-07 07:53] dominicrodger commented on #64
Partially addressed by ff64fb8 - I still need to add tests for Django 1.9, and Python 3.5.

[2016-03-08 08:23] dominicrodger commented on #65
Thanks for the report @alextreme!

I'm not entirely sure that this is a leap year bug - your test passes for me whether the date under test is February 29th or February 28th, as far as I can tell. Was the last assert failing or passing for you? If it was failing, then maybe there is a leap year bug which only shows up when the current date is February 29th.

[2016-03-08 11:42] alextreme commented on #65
Thanks for taking a look. The last assert was failing for me on the 29th but now only fails if I update the test to the current date. It has to do with the automatic usage of now() when dtstart isn't given and isn't related to Feb 29th.

This seems similar to the remark on https://django-recurrence.readthedocs.org/en/latest/usage/recurrence_field.html

"Slightly confusingly, between will only retu

[2016-03-08 11:42] #65 closed

[2016-03-30 07:28] dominicrodger commented on #64
All set. I believe tox doesn't support Python 3.5 at present, so we'll leave this for now - we've got tests for Django 1.9 in, thanks to @edelvalle's work on #62.

[2016-03-30 07:28] #64 closed

[2016-03-30 07:29] edelvalle commented on #64
It does not, but when it does, py35 can be added to the tox file.

[2016-03-30 07:30] dominicrodger commented on #62
Fixed with #63 - thanks for all the hard work here @edelvalle.

@emperorcezar - can you release 1.3.0 when you get a moment?

[2016-03-31 09:02] dominicrodger commented on #64
Yup - thanks @edelvalle (my "I believe" should really have been written as "@edelvalle tells me" :)).

[2016-04-01 22:15] somesmart opened #66 "Specify BiWeekly start date of a recurrence?"
I'm trying to schedule a biweekly recurrence (every other Friday), but it seems to set the starting Friday automatically? Is it possible to specify the Friday it starts on and I'm just missing it?

[2016-04-03 13:40] dominicrodger commented on #66
Hey @somesmart. How are you generating recurrences? Via with widget? Via the API? If the latter, have you set ``dtstart`` (see [here](http://django-recurrence.readthedocs.org/en/latest/usage/api.html#rule-and-recurrence) for details)?

[2016-04-03 14:20] somesmart commented on #66
I was creating them via the widget. Is there a way to set the `dtstart` from there or do I need to do it on form save?

[2016-04-03 14:25] dominicrodger commented on #66
Ah, yeah, you need to set it on form save, you can't set ``dtstart`` from the widget.

[2016-04-03 14:39] somesmart commented on #66
That did it, thanks!

[2016-04-03 14:39] #66 closed

[2016-04-20 01:54] emperorcezar commented on #62
K. 1.3.0 released.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Wed, Mar 30, 2016 at 2:30 AM, Dominic Rodger <notifications@github.com>
wrote:

[2016-04-20 08:15] edelvalle commented on #62
@emperorcezar 1.3.0 was released but just for Python 2, take a look: https://pypi.python.org/simple/django-recurrence/

[2016-04-21 23:54] Lidor7 commented on #50
@dominicrodger You're right.  It seems like there are cases (if not all cases) where `inc=True` isn't necessary to reproduce the same bug.  Take a look at this example (first code snippet only works with dates in the future, so update accordingly).

This recurrence behaves as expected.  Between 4/24 and 4/27 there is a Tuesday occurrence on 4/26.

[code]

But when you add in `dtstart`, it adds in

[2016-04-25 03:56] emperorcezar commented on #62
Thanks. Taking a look. Using twine to upload for the first time.

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Wed, Apr 20, 2016 at 3:15 AM, Eddy Ernesto del Valle Pino <
notifications@github.com> wrote:

[2016-04-25 03:58] emperorcezar commented on #62
K. Uploaded the sdist

----------------------------------------------------------------------------------
Father, dabbling at being a Python developer specializing in Django,
Cyclist, and home brewer.

On Sun, Apr 24, 2016 at 10:56 PM, Adam "Cezar" Jenkins <
emperorcezar@gmail.com> wrote:

[2016-04-25 07:02] edelvalle commented on #62
Thanks!

[2016-05-25 10:16] dominicrodger commented on #62
Marking closed. Thanks @edelvalle and @emperorcezar :+1:

[2016-05-25 10:16] #62 closed

[2016-06-14 11:13] webknjaz commented on #35
JFYI this would affect Ukrainian translation as well

[2016-06-24 12:44] bodgerbarnett opened #68 "Finding all generated occurrences of model"
I am using this to generate a range of instances of a model (Event) based on the rules set at creation time but I want the form that produces them to redirect to a page which lists all the generated occurrences, once they've been created.

Is there an easy way to do this or do I have to manage it myself using a new model to connect them all or something maybe?

I was kind of hoping I could do some

[2016-06-25 15:04] ondrowan opened #69 "Does not work with Django 1.10"
`fields.py` still uses `Creator` from `django.db.models.fields.subclassing` which is removed in Django 1.10.

[2016-06-30 06:31] #69 closed

[2016-06-30 06:32] dominicrodger commented on #69
Thanks for filing this @ondrowan - I've just pushed a fix (basically pulling `Creator` into django-recurrence for versions of Django which don't have it).

[2016-06-30 06:34] dominicrodger commented on #68
I think you can just use `occurrences`, as per [the docs](http://django-recurrence.readthedocs.io/en/latest/usage/recurrence_field.html#getting-all-occurrences), or does that not work for you?

[2016-06-30 08:44] bodgerbarnett commented on #68
Unfortunately, that only returns the dates that the recurrence pattern contains, not the instances of the model that was created with it.

[2016-06-30 08:55] dominicrodger commented on #68
Oh, I see. I think that's out of scope - django-recurrence has no idea what models you created with a `Recurrence` object, and I'm not sure how it could know. If you've got a recurrence object stored on a model somewhere, then perhaps you could use the model instance used to create them on your `Event` model.

[2016-06-30 11:43] bodgerbarnett commented on #68
At the moment, I've got it set on the Event model.

So you mean I could have the recurrence field on a new model - EventGroup, say? And then have a foreign key to that model on Event so that I could get all the events that are connected that way?

That makes sense and I think (ahem) that that was what I was hinting at when I said "manage myself". Maybe. But if that's what you mean, thanks.

[2016-06-30 11:45] dominicrodger commented on #68
I think I need to see your models to understand exactly what you're doing. If you're creating lots of Events at once, then you could tie them together using a GUID field on the Event (where each instance created from a single recurrence has the same GUID), that might be simpler than having a separate EventGroup model or similar.

In brief though, you'll definitely have to handle this yourself.

[2016-06-30 11:48] bodgerbarnett commented on #68
Ah, good thinking - that's excellent - thanks!

[2016-06-30 11:48] #68 closed

[2016-07-26 19:41] iago1460 opened #70 "Incorrect date information"
I have notice that the widget send Rdates, Exdates and Until dates in UTC format to the server like '20160725T230000Z' but looks like the widget got the timezone info from the browser instead of from the [timezone setting](https://docs.djangoproject.com/en/1.9/ref/settings/#std:setting-TIME_ZONE)

Other issue is that when I access the field information the dates don't have a timezone and it looks

[2016-08-09 13:19] dodobas opened #72 "Version 1.4.0 not available on pypi"
Is 1.4.0 planned to be released soon, Django 1.10 was released on August, 1st and the current version 1.3.0 is not compatible.

[2016-08-09 18:49] emperorcezar commented on #72
I'll push it out today.

[2016-08-22 07:51] dodobas commented on #72
hopefully 'today' is today :)

[2016-09-29 18:33] jordanambra commented on #72
@emperorcezar can you do this push to pypi? All of my apps are on Django 1.10+ and I can't install without using pip+git.

[2016-09-29 21:45] oliwarner commented on #69
@dominicrodger Probably not the right place to ask but I see this is in the changelog for 1.4 on RDT but I can't find 1.4 on pypi. Has this not been released yet?

[2016-09-30 07:02] dominicrodger commented on #69
Yep - this is tracked in #72. Sadly, I don't have privs to push a new version to PyPI.

[2016-10-01 03:20] emperorcezar commented on #69
Gonna put in some time this weekend and do the push.

On Sep 30, 2016 2:02 AM, "Dominic Rodger" <notifications@github.com> wrote:

[2016-10-05 20:39] beruic opened #74 "1.10 support"
With Django 1.10 I get:

[code]
Seems like there is an `s` too much there. Shouldn't it be `django.db.models.field.subclassing`?
I guess it's a 1.10 refactor.

[2016-10-05 20:45] beruic commented on #74
I was wrong. It is with `s`. However the 1.10 releasenotes mention the removal of `django.db.models.field.subclassing.SubfieldBase`.

https://docs.djangoproject.com/en/1.10/releases/1.10/

[2016-10-05 20:52] dominicrodger commented on #74
Hi @beruic - this was addressed in #69, which was fixed in version 1.4.0. That's unfortunately not available on PyPI yet (#72), hopefully @emperorcezar can get it released soon.

[2016-10-05 20:52] #74 closed

[2016-10-06 00:28] emperorcezar commented on #72
@jordanambra @dodobas Today became later than I thought mostly because pypi giving my issues, but it's out as of now.

[2016-10-06 00:28] #72 closed

[2016-10-06 00:47] jordanambra commented on #72
Thank you!

[2016-10-06 09:30] beruic commented on #74
Super. It's just a hobby project I'm working on, but I'm looking forward to getting on with it :)

[2016-10-06 09:31] dominicrodger commented on #74
@beruic - just noting that 1.4.0 is now on PyPI - feel free to take it for a spin with Django 1.10, and let us know if you see any problems.

[2016-10-08 22:23] beruic commented on #74
So far so good. I can migrate now. I havn't made the urls work though. I tried to make them according to your documentation, but in 1.10 they need to use the `url` function for urls, and I get a typeerror. It seems like you now have to use the [JavaScriptCatalog view](https://docs.djangoproject.com/en/1.10/topics/i18n/translation/#module-django.views.i18n), but I havn't had the time to read it yet

[2016-10-08 22:30] beruic commented on #74
Ok, so I tried:
[code]

and it returned:

[code]

Does that look right?

[2016-10-22 19:18] dominicrodger commented on #74
Yes, that looks correct to me (it's what I get, when I use Django 1.10 locally).

[2016-10-24 16:50] adlius opened #76 "Javascript widget not working."
I am using django-recurrence for a project. When I try to use the javascript widget for the form, it does not render correctly in the browser (both safari and chrome). Here's the screen shot
<img width="305" alt="screen shot 2016-10-24 at 12 44 18" src="https://cloud.githubusercontent.com/assets/1566880/19654776/b327a26e-99e7-11e6-8456-c1cb1582e38c.png">

And here's the snippet for the html:
<img

[2016-10-25 19:16] dominicrodger commented on #76
Hi @adlius - I'm afraid we'll need more information to figure out what's going wrong. Are there any JavaScript errors? What's the output of that template? Are you sure the browser is managing to load the CSS/JS? What version of django/django-recurrence/Python are you using?

[2016-11-13 00:09] beruic commented on #4
I don't think this is a good idea. Relying on third party client side libs is an inconvenience and possibly nuisance for the user of this project and may contribute to bloating a project's use of third party client side libs.

Alternatively do it default with Ajax refreshing to make it simple, and create an API for widgets so people can submit widgets for different frameworks. For example I hope t

[2016-12-11 14:15] vsalex opened #80 "Adding Russian i18n"
Thank you for so much for this great project!

I'm working on Django 1.8 project with Russian language and i want use your application. But i can't deal with languages in it. I found different locales in `recurrence/locale` and i know how gettext is working but when i change my default Django language to some locale that are already presented in `locale` e.g. i set

`LANGUAGE_CODE = 'fr'`

admin l

[2016-12-12 15:17] dominicrodger commented on #80
Hi @vsalex. In your form's template, are you including ``{{ form.media }}`` somewhere?

[2016-12-13 09:00] vsalex commented on #80
Hello @dominicrodger. Thank you for answering. Yes i have according to docs:

static links to `recurrence.css` and `recurrence.js` in my admin template:

[code]

but still can not change language of JS widget.

[2016-12-15 19:55] dominicrodger commented on #80
I see. You'll also need to make sure you've followed the steps [here](http://django-recurrence.readthedocs.io/en/latest/installation.html#set-up-internationalization). That should mean you end up with 3 JavaScript files - one of which is the JS i18n library. Let me know if that doesn't fix it.

[2016-12-15 20:04] dominicrodger commented on #80
Also - if that's what it is, we can definitely do a better job at improving the documentation to make it clearer.

[2016-12-15 20:04] dominicrodger commented on #76
Marking closed for now, feel free to re-open if you need help here @adlius.

[2016-12-15 20:04] #76 closed

[2016-12-19 09:33] vsalex commented on #80
@dominicrodger thank you. This is very strange but on clean Django 1.8 project i18n is worked perfectly. So something wrong with my working project. I will check it.

I try to add Russian i18n on this week and make commit.

Also there is mistake in [docs](http://django-recurrence.readthedocs.io/en/latest/installation.html) about Django 1.8. Now it is:

[code]

And should be:
[code]

[2016-12-19 20:16] dominicrodger commented on #80
Odd, OK. Let me know if you work out what's wrong.

I see what you mean about the docs. They're intended to show what you need if you were to have the i18n views as the only views in your project (which is obviously not something you'd want in real life), but having `+=` makes more sense, and means people can just cut-and-paste the code into their urls.py, which people would find useful I expect.

[2017-01-02 16:32] dominicrodger opened #82 "Release 1.4.1"
@emperorcezar - there are quite a few bits in 1.4.1, so now seems like a good time to get a release out. Would you mind doing the honours?

[2017-01-03 21:09] beruic opened #83 "Feature request: Working day support"
It would be awesome if you could select recurrence to be the last working day of a month or year. https://github.com/novafloss/workalendar may be useful for this.

[2017-01-03 21:16] dominicrodger commented on #83
Hey @beruic - interesting idea, but I fear it might be a bit difficult in practice (i.e. to do any better than "the last Friday in December"), since it'd have to know about region-specific bank holidays, presumably. Or did you have something else in mind?

[2017-01-03 22:12] beruic commented on #83
Well that was what the link was for. Of course you would have to be able to set the country somewhere. I imagine that a user could have a country configured or a setting would make it for a default val

[2017-01-03 22:15] beruic commented on #83
Accidentally closed this one :(

[2017-01-04 08:11] dominicrodger commented on #83
Ah, I'd missed that link, apologies @beruic. I'd be happy to see a pull request that implemented this using workalendar. It does mean adding quite a few dependencies to django-recurrence, but I can see it being useful to people.

[2017-01-04 12:47] beruic commented on #83
For now this will have to remain a feature request. I don't have time to look at it, but I will try to see if it is useful at work, but even if it is it will not be within the next 6 months I'm afraid :(
I'll think about the country configuration though :)

[2017-01-04 21:06] dominicrodger commented on #83
Sounds good - thanks @beruic!

[2017-01-08 01:24] emperorcezar commented on #82
Done

[2017-01-08 01:24] #82 closed

[2017-01-15 00:40] denisiko commented on #50
I think I figured out why the described behaviour sometimes occurs only with inc=True, and sometimes without.

As @trpt4him already mentioned, the core problem lies in the ruleset creation function where dtstart is added to the set. This is clearly false because between() params should never enrich the ruleset, as they only define a range of recurrences that are constructed with given rules.

The

[2017-01-25 15:22] denisiko commented on #50
@dominicrodger - What do you think? I could write a test for this issue to demonstrate the behaviour, but first of all it must be clear what results to expect:

The way I see it whenever dtstart lies between after and before (start and end times), it gets included in the results. No matter if inc is True or False. This is not a right behaviour in my opinion.

When dtstart is equivalent to either a

[2017-01-27 15:36] audiolion commented on #70
I have the same issue, the widget does indeed use the browsers timezone setting, but serializes with the django timezone setting (by using pytz).

[2017-01-27 15:43] audiolion opened #84 "Daylight Savings Time - Incorrect Date"
When I set an rdate or exdate through the widget it makes a new date using my browser's timezone, if the date is in a daylight savings time period it includes that info:

[code]

What happens is that gets passed to the recurrence field as:

[code]

The deserialize function puts that into UTC time and stores them as:

[code]

The deserialize function doesn't take into account the daylight savings t

[2017-01-27 16:50] #84 closed

[2017-02-06 13:44] amirasaad opened #86 "prompts unsaved changes warning"
On submitting the main form browser prompts unsaved changes warning when rule or date was added.
It's bad for user experience

It seems that in every single rule or date a form tag was used, I guess that what causes this bad experience or I made something wrong?

[2017-02-06 14:28] dominicrodger commented on #86
What generates the unsaved changes warning? Is that some JavaScript on your side? I don't think that's the browser.

[2017-02-06 15:55] amirasaad commented on #86
I modified the widget by javascript. Is there any other way to enable only on rule?

[2017-02-06 21:25] dominicrodger commented on #86
Thanks for getting back to me @amirasaad! So it's your JavaScript that generated the warning about unsaved changes? I'm not sure what you're asking us to fix or change here - could you help me out?

[2017-02-07 10:46] amirasaad commented on #86
This code snippet
[code]
Generate something like that:
![img](https://django-recurrence.readthedocs.io/en/latest/_images/admin.png)

I want to customize this widget to show only Weekly and some other to be consistent with field options.

[2017-02-09 19:59] TehCorwiz opened #87 ""Add Rule" "Add Date" buttons inoperative in Admin Inline."
django=1.9.12
django-recurrence=1.4.1

When using recurrence in django admin, if recurrence is a field on an inline model and an instance of the inline model is spawned using the "Add whatever" button then the "Add Rule" and "Add Date" buttons in recurrence do not function. The recurrence widget functions normally if the inline object is visible when loading the page.

[2017-02-10 16:12] audiolion commented on #87
django==1.8.14
django-recurrence==1.4.1

Works for me:
https://imgur.com/a/QsGqd

[2017-02-11 12:14] dominicrodger commented on #86
Sorry @amirasaad - I'm a bit confused - that seems like a different request. Are you still having problems with the browser prompting you about unsaved changes?

I have no particular problem with an enhancement to limit which frequencies are accepted, if that's something you (or someone else) wants to work on.

[2017-02-13 16:51] amirasaad commented on #86
Thanks for your reply. I think it would be a good feature.

and its a nice app btw
cheers

[2017-02-28 21:21] audiolion opened #89 "Passing a null value to RecurrenceField will cause a TypeError"
At this point in the code https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/forms.py#L147 if the value you passed is None it will throw a TypeError, saying it expected a string or a buffer. Maybe a check should be done, if value is None then value = '' the empty string

[2017-03-05 15:33] dominicrodger commented on #89
How do you pass `None` to a form from the browser? Or are you using a form programmatically?

[2017-03-06 18:51] audiolion commented on #89
I found it during testing yes so the form data was being generated and passed programmatically

[2017-03-06 20:05] dominicrodger commented on #89
Ah, OK - that makes sense, thanks @audiolion.

Pull requests to fix this welcome - especially if they contain tests!

[2017-03-06 20:52] audiolion commented on #89
Ok might be a few days but I will send in a patch

[2017-03-06 20:56] dominicrodger commented on #89
Sounds good - thanks! No pressure on getting it done, it doesn't sound like it would hit most users of django-recurrence. Don't worry if you can't get tests for it - I'll happily add them to a patch if needed.

[2017-03-14 00:48] jpulec opened #90 "How Does this Library Handle dtstart?"
It isn't stated clearly in the docs anywhere, and it seems like there are conflicting opinions in both how this library handles dtstart. In the docstrings for `base.py` and `Recurrence` it does seem to indicate that `dtstart` is handled the according the RFC 2445, which uses it as both the starting point for recurrences and as the first recurrence returned.

This is in contrast to how `dateutil.rr

[2017-03-14 03:38] aswinkp opened #91 "Filtering using recurrence field"
In the documentation I clearly see that there are only options for getting the occurrences for every single model object. Is there any way to filter the queryset using the recurrence field ?

For example, Can I filter the queryset by finding which all events that has recurrences  for today ? (similar to http://swingtime.nerdfog.com/docs/models.html#occurrencemanager). It is fine if I take all the

[2017-03-15 00:59] jpulec commented on #87
django==1.10.5
django-recurrence==1.4.1

This is also an issue for me. To be clear, yes, the buttons do appear when you click "Add MODEL_NAME" but upon clicking "Add Rule" and "Add Date", they do nothing. This only happens with recurrence fields add ed by the "Add MODEL_NAME" button. "Extra" inline recurrence fields seem to work just fine, if you specify an extra number on the ModelInline class.

[2017-03-15 21:47] dominicrodger commented on #87
@jpulec/@TehCorwiz - do you have any idea why they don't work? Are there errors in your JS console or anything?

[2017-03-15 21:47] dominicrodger commented on #91
Hi @aswinkp - no, that's not currently possible. If that's something you're interested in adding, I'd be happy to take a look at a pull request :)

[2017-03-15 21:49] dominicrodger commented on #91
Although (sorry, realised I should have said this just after clicking "Comment"), it'll likely be very hard (if not impossible) to do - queryset filtering happens on the database, and there's no way to generate occurrences in SQL at present - occurrences are currently generated in Python code, after you've pulled the objects out of the database.

[2017-03-15 22:07] jpulec commented on #87
It appears that it's related to how inlines are added. The django admin adds a new inline by cloning a sort of empty inline template. I believe that because it clones the empty templates this way, the click handlers that are setup in `recurrence.widget.Widget.init_dom()` and then in `recurrence.widget.AddButton.init_dom()` are not set up correctly. That's just a guess, but I think it's at least in

[2017-03-20 07:17] dominicrodger opened #92 "Add missing Basque translations"
PR #88 (from @mir06) added some new strings that need translations in Basque, specifically:

- Last
- Second last
- 2nd last
- Third last
- 3rd last
- Fourth last
- 4th last

I'm hoping @unaizalakain might be able to help us out.

[2017-03-20 07:26] dominicrodger commented on #87
That makes sense to me. I'll take a look at this.

[2017-04-11 10:01] denisiko commented on #90
Didn't recognize that the inclusion of `dtstart` is indeed according to RFC 2445. Thanks @jpulec.

Then I would suggest to 1) [document it](https://django-recurrence.readthedocs.io/en/latest/usage/recurrence_field.html) and 2) maybe add an optional parameter `dtstart_include` to the between method that has `False` as default. This way it is clear how django-recurrence works for this case, it stays

[2017-04-11 10:20] denisiko commented on #50
OK. As @jpulec pointed out the described behavior is totally consistent with the RFC 2445 specification:

So there is a clash between RFC 2445 and `dateutil.rrule`, where `dtstart` is not the first occurence. I suggested a solution for this in #90.

[2017-04-11 16:45] jpulec commented on #90
@denisiko I'm biased, but I would really prefer a solution that supports some way following `dateutil.rrule` and not the spec, similar to what you described in 2).

Should this be something done as a `between()` parameter? Or does it make more sense to just add a setting for the entire library to support one behavior over the other? Or perhaps both?

[2017-04-12 06:42] denisiko commented on #90
@jpulec I could think of a global settings constant in combination with a between param that overwrites the settings value if set. So it would be like:

1) dtstart is included if nothing is specified (according to spec)
2) dtstart inclusion is handled by user's global settings (if set properly)
3) dtstart is handled by optional between param if set explicitly

[2017-04-19 02:12] jpulec commented on #90
@denisiko Is it just me, or would it seem to make more sense for the `between()` parameter to be the first place to check? That way a user could override it on a call by call basis. So we could do something like add a global setting called `RECURRENCE_DTSTART_INCLUDE` or whatever, and that value would default to `True`. Then the function signature for `between()` could specify `dtstart_include=set

[2017-04-20 09:59] denisiko commented on #90
@jpulec That's exactly what I meant :-) Think I wasn't clear on describing the order.

I already started working on this. I even named the global settings param exactly like you suggested :-) But after some thinking I came to the conclusion that it would be better to move my planned `between()` param `dtstart_inc` to the initialisation of the recurrence object and the definition of the recurrence

[2017-04-20 11:11] dominicrodger commented on #90
Thanks @jpulec and @denisiko for all your work here - sorry I'm a bit late to the party.

I'm open to being convinced otherwise, but I'm -1 on doing this with a setting - I think a parameter is much clearer. My concern with a setting is this: say you have two reusable apps installed which both depend on django-recurrence, and one wants the setting set, and one doesn't - how will that be resolved?

[2017-04-20 11:12] dominicrodger commented on #50
Is this still relevant with the work being done in #90, or can we close this?

[2017-04-20 12:13] denisiko commented on #90
@dominicrodger I understand your concern. The way I would approach this is as following:

You have a variable in `base.py` which is reserved for the user's setting (for now I have placed it under the DAILY, WEEKLY etc. constants). It tries to get the user's `RECURRENCE_DTSTART_INCLUDE` setting and if it doesn't get a valid bool it defaults to `False`.

If another app wants a specific value for `RE

[2017-04-20 14:22] denisiko commented on #90
On the other hand it is not very elegant that you would have to explicitly overwrite the value on module level ever time you import the module and before you do anything with it. Maybe @dominicrodger is right and a parameter for the field and the object would be sufficient.

[2017-04-20 17:07] douwevandermeij commented on #90
I still think the whole pull request #36 should be merged, maybe after some cleaning up. The current code is just wrong, my tests prove that. Also some weird tests with comments are resolved.
Maybe bump to a new major version without backwards compatibility, so people know their own code/fix to fix this is broken. In other words, people that had this problem and fixed it locally, know it's not ide

[2017-04-21 06:45] csetarun commented on #70
I am also having the same issue.. the value which is saved is one day less than the required.

[2017-04-21 16:59] audiolion commented on #70
I actually solved this by including settings.TIMEZONE = 'My Tz', i didnt realize it wasnt in settings so dates werent converted back properly

[2017-04-25 18:48] denisiko commented on #90
@douwevandermeij The code is not wrong or broken at this part, it follows a clear specification. Right at the beginning of the docs it says that Recurrence/Rule objects use a subset of RFC 2445. You can't just cherrypick from the spec because that would break consistency, so you also have to treat `dtstart` according to RFC 2445:

Therefore your test function `test_occurrences_with_start_and_end_w

[2017-04-25 19:33] douwevandermeij commented on #90
Ah, I didn't know that relevant spec either. Sounds like a weird spec, but it should be obeyed, fair enough. Your suggestion sounds plausible then; best of both worlds.

[2017-04-25 20:23] denisiko commented on #90
Think so too, pretty weird idea. Just would be nice if this dtstart chapter closes.

[2017-04-27 07:40] denisiko commented on #50
I wouldn't close this issue so fast. There are 2 factors here to consider that lead to the described behavior: one is a bug and one is a feature.

The feature part is that `dtstart` counts as the 1st occurrence. You can eliminate the problem with the pull request in #90 but there's more to it.

The 2nd factor is actually a bug that I think occurs with `inc=False` (the default) where `dtstart` is N

[2017-05-03 13:40] devcompl commented on #24
Any updates on the PR?

[2017-05-09 09:57] stefan-as opened #94 "exdate set in admin ui is saved at 00:00, while comparision is made against exact dtstart time"
When one sets an exclude date in the admin ui, the exdate gets ignored by the between function. It seems that the admin ui passes a date object into the model, that is than cast into a datetime object resulting in timings like 00:00. Since the between function only matches against exact datetime, the exdate does not match.

[code]

When setting the correct time programmatically everythin works as

[2017-05-28 13:32] stefanfoulis commented on #14
For my use-case, it would make sense to have ``dtstart`` and ``dtend`` as part of the main widget. I'd suggest making this an option that gets passed into the widget. And with an optional keyword argument that can be passed into the model and form field definition. That way it can be backwards compatible for existing users but is easy to add for users that need it.

[2017-06-02 10:20] amankumarjain opened #95 "How to customize django admin view?"

[2017-06-02 10:22] dominicrodger commented on #95
Hi @amankumarjain - you'll need to be more specific if we're going to be able to help you. What are you trying to do - customise styles of the admin widget?

[2017-06-04 04:22] amankumarjain commented on #95
I have to add timesupport and remove some checkbox from widget

[2017-06-28 00:12] fozzle opened #96 "DTEND always shows up as occurrence"
I think I'm misunderstanding how this all works, but for example I have a recurrence rule describing "Every Day" with a dtend of July 20th. I also have a exception date of July 20th.

Finding all occurrences for this pattern shows July 20th still present. I would have thought July 20th would be excluded.

Example script (note that July 20th is printed):
[code]

This will print:

[code]

Alternativ

[2017-06-28 00:30] fozzle commented on #96
Looks like this is known, but for what reason? Haha.

https://github.com/django-recurrence/django-recurrence/blob/master/tests/test_occurrences.py#L164

[2017-06-28 18:27] denisiko commented on #96
I think this is a different case than with the `DTSTART` property. Correct me if I'm wrong, but there seems to be no statement in the specs defining `DTEND` as an obligatory occurrence. So I would consider this behavior a bug.

[2017-06-28 19:15] fozzle commented on #96
I'm pretty shit at reading specs, but I couldn't even find it as a property for recurrences (4.8.5?)

[2017-07-01 10:52] denisiko commented on #96
Maybe @jpulec can shed some light. After all he's the one who found out about the `DTSTART` parts in RFC 2445.

[2017-07-04 01:53] jpulec commented on #96
The `DTEND` defined in RFC 2445 is used only to define the end time of a single event... not the end date/time of an rrule. `Recurrence.dtend` is a completely different concept that happens to share the same name. In the context of django-recurrence, it exists to have parity with django-recurrence's handling of `dtstart`, meaning that specifying `dtend` is just supposed to allow a user to explicit

[2017-07-04 09:01] denisiko commented on #96
Thanks for clearing that up @jpulec
So what do you suggest for fixing this issue? Remove `Recurrence.dtend` completely?

[2017-07-05 16:27] jpulec commented on #96
Honestly, I have a bias towards cleaning this library up, such that it follows `dateutil` instead of following the RFC. In my mind, that means removing it. But even trying to adhere to the spec, the idea of `dtend` as it's used here is just wrong. Honestly, I don't think it serves that much purpose, since you could just explicitly add your end date via an explicit `Date` anyway.

[2017-07-05 20:13] denisiko commented on #96
`dateutil.rrule` is supposed to follow the same specs anyway according to the [docs](http://dateutil.readthedocs.io/en/stable/rrule.html). So I think so too that it's enough to just wrap the python library and leave the job of being coherent with some specs to others.

I would love to see a new fork that is doing this as an alternative. Would you be up to do this @jpulec ?

[2017-07-07 16:45] jpulec commented on #96
I would really like to avoid forking this repo if possible. However, given that what we're describing here would be a pretty big shift in functionality, it might not be possible otherwise.

[2017-07-08 21:38] jlugao opened #97 "Using Rules"
Hey,

I am trying to use this library programatically. I want to generate occurrences like follow:
between 2017-01-01 and 2017-10-01 I want an occurrence every friday (or every sunday, etc..)

The problem is: how do I pass the weekday the occurence should occur? or do I always manage this through dt_start and have to implement a logic on my own to handle this?

currently my code is
[code]

Regards

[2017-08-10 09:00] psychok7 commented on #39
@dominicrodger any updates on this or a workaround?

[2017-08-10 09:05] dominicrodger commented on #39
Sorry @psychok7 - this isn't going to be something I work on, as it's just not something I've ever needed (I tend to just have a separate field on the model for storing the time, where the events I'm storing have times I care about). I'm not sure I see the advantage of storing it along with the recurrence.

As I said - if this is something someone wants, and they're happy to write a patch, I'd be

[2017-08-10 17:04] psychok7 commented on #39
@dominicrodger could you give some hints on where exactly would we have to change to add this functionality??

[2017-08-10 17:11] psychok7 commented on #39
@dominicrodger by the way, in my case i need something that says "from timefield_1 to timefield_2"

[2017-08-11 06:21] dominicrodger commented on #39
The more I think about this, the more I'm inclined to think this doesn't belong in django-recurrence. What is the advantage of doing this in django-recurrence instead of having a separate time field.?Your use case is different to the original one in this issue - so we'd presumably end up wanting two new types of widgets - one for where there's just a start time and one for where there's a time ran

[2017-08-11 09:11] psychok7 commented on #39
@dominicrodger I need that because I need to associate multiple time ranges. In other words, we are already able to add multiple rules in one recurrencefield with the existing widget, with your approach, how could I tell that a time range belongs to an exact rule of the 5 rules you just added for example in a simple manne with the UI?  I am using django admin. I don't want to associate 1 time rang

[2017-08-11 10:59] dominicrodger commented on #39
Ah, you want this per rule? If so, that's definitely not feasible, since the rules are encoded and parsed according to an external standard. I think your only option here is to add an associated ManyToManyField model which has the time range fields and the recurrence field, and to add some JS which prevents adding multiple rules (if that's what you want). I don't think this can be done inside of d

[2017-09-10 03:41] solomonix commented on #50
I know this has been around for a while, but it was frustrating me to no end in a project I am working on.  I only include dtstart in between() so that I can see recurrences in the past.  Based on the observations of @denisiko, dtstart causes problems when either inc=True, or dtstart is between the after/before date parameters of between().

What I ended up doing was just making my calls to betwee

[2017-09-11 17:33] FlipperPA opened #99 "Wagtail Compatibility: "Uncaught ReferenceError: pgettext is not defined at recurrence.js:1036""
I'm trying to get this working with the Wagtail CMS. I've got a basic Wagtail model - a Wagtail `Page` inherits from a Django `models.Model`:

[code]

Many fields which "work" in the Django admin also work in the Wagtail admin. However, I'm getting the following JavaScript error:

[code]

As you can see from the screenshot, it does partially instantiate:

![image](https://user-images.githubusercon

[2017-09-11 18:11] FlipperPA commented on #99
Thanks to some help from Torchbox, I've got this working. It can use some CSS tweaks, but the key was to include the jsil8n library:

[code]

Hopefully this helps the next person looking!

![image](https://user-images.githubusercontent.com/68164/30289720-12c5c0be-96fb-11e7-8b6a-cc556309f83e.png)

[2017-09-11 18:11] #99 closed

[2017-09-18 21:45] pigmonkey opened #101 "Avoid inline javascript and allow form media to be loaded after form"
My templates load form media at the end of the page, after the form itself. In general it seems like loading javascript at the end is still recommended practice for performance. However, this breaks django-recurrence since it uses inline javascript after each form field to load the widget. With the form media not yet loaded, this inline javascript errors out with `ReferenceError: recurrence is not

[2017-09-19 17:33] pigmonkey opened #102 "Error comparing offset-naive and offset-aware datetimes"
I have a model similar to the `Course` model in the documentation.

    from recurrence.fields import RecurrenceField

    class Course(models.Model):
        title = models.CharField(max_length=200)
        recurrences = RecurrenceField()

I've created an object with a simple recurrence of once per month on the fifth. There are no dates (`dtend`, `dtstart`, `until`, etc) associated.

    {'_cache

[2017-09-25 20:00] dominicrodger commented on #102
Thanks @pigmonkey!

That change makes sense to me - would you mind sending that in a pull request?

[2017-10-18 22:31] KonstantinSchubert commented on #70
I think that this PR https://github.com/django-recurrence/django-recurrence/pull/104 fixes the issue.

@audiolion

Are you sure about this? As far as I can see, it just strips the timezone information when serializing.

[2017-10-19 11:10] iago1460 commented on #70
My current solution was to remove the timezone information from the frontend and letting the backend to convert that date to the current timezone.

[diff link](https://github.com/django-recurrence/django-recurrence/compare/master...iago1460:master]) (ignore the changes on recurrence-widget.js)

[2017-10-20 10:02] denisiko commented on #90
I think this issue can be closed now with #93.

[2017-10-20 10:06] denisiko commented on #50
Thx @solomonix for the workaround. But now with #93 merged there's no need for a workaround anymore. Just use `include_dtstart=False` in your `RecurrenceField`.

This feature is available since version 1.5.0 of django-recurrence.

[2017-10-20 10:19] denisiko commented on #97
@jlugao
You have to pass the weekday to your rule with `byday` like so:

`myrule = recurrence.Rule(
                         recurrence.WEEKLY,
                         byday=recurrence.MONDAY
                     )`

[2017-10-20 15:35] jpulec commented on #90
@denisiko I believe you're right. Glad to see this all get resolved. Great work and thanks!

[2017-10-20 15:35] #90 closed

[2017-10-20 15:45] denisiko commented on #90
No problem and thanks!

[2017-11-07 09:01] anomitra commented on #102
@pigmonkey I ran into the same issue - did you fix this, and if yes, is the fix as simple as specifying a `dtstart`?

[2017-11-07 17:28] pigmonkey commented on #102
Yes, if you pass in an aware datetime for `dtstart` it will work as expected. The other option would be to not pass `dtstart`, but to strip the tzinfo from your other date objects (using something like [`timezone.make_naive`](https://docs.djangoproject.com/en/1.11/_modules/django/utils/timezone/#make_naive).

I keep meaning to submit a PR to fix this, but have not gotten to it yet.

[2017-11-17 07:21] wernerhp opened #106 "deserialize offset-naive and offset-aware datetimes"
Should https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/base.py#L992 not retrun the `datetime` based on `settings.USE_TZ`?  I'm working exclusively with offset-aware datetimes and when I call `recurrences.after(dt, inc=inc)` I run into `TypeError: can't compare offset-naive and offset-aware datetimes`.

I propose replacing the following `return` line in `base.py` `def

[2017-11-17 09:15] wernerhp commented on #106
#102

[2018-01-29 20:08] gennaroanesi opened #112 ""Last day of month" recurrence"
Is it possible to create a "Every last day of month" rule using the current implementation?
I wanted to create a recurrence like

``class.recurrences = recurrence.Recurrence(
    dtstart=timezone.make_aware(datetime(2018, 1, 1, 12, 0, 0)),
    rrules=[recurrence.Rule(recurrence.LAST_DAY_OF_MONTH), ]
)``

so my occurrences are
2018-01-31
2018-02-28
2018-03-31
...

starting with the "first last day

[2018-01-31 16:15] wiredfool opened #114 "Error adjusting js Date() objects"
On the 31st of the month, it's impossible to deserialize a date in a 30 day month. (or February).

[code]

The essential problem is here: https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/static/recurrence/js/recurrence.js#L680
[code]
Try making a new date on 2018-01-31, then setting month 3 (April), and you'll get May 1st.

This should be something more like:
[code]

[2018-01-31 17:02] wiredfool commented on #114
See also #113

[2018-02-01 07:17] dominicrodger commented on #114
Closing in favour of #113 - I'm hopeful we can merge that PR soon.

[2018-02-01 07:17] #114 closed

[2018-02-09 16:00] jcuotpc opened #115 "django 2 compatibility: TypeError: "on_delete""
When running under django 2 I get the following error:
[code]

[2018-04-01 11:31] atiberghien opened #116 "Exclude period"
Hi,

I would like to modelize a simple use cas: a shop opened from 01/01/2018 to 31/12/2018 **except** during the period going from the 01/07/2018 to the 31/12/2018.

Several others issues are relating to the fact that there is no `dtstart` in a `recurrence.Rule `. As documented in code, it's not defined in the RFC even if it's possible with `dateutil.rrule`.

So, how can I modelize my use-case :

[2018-04-04 12:15] aclark4life commented on #115
@jcuotpc FYI this is not a django-recurrence issue… from https://docs.djangoproject.com/en/2.0/releases/2.0/#features-removed-in-2-0 "The on_delete argument for ForeignKey and OneToOneField is now required in models and migrations. Consider squashing migrations so that you have fewer of them to update."

[2018-04-10 08:11] robcolombo commented on #35
Houdy! I was translating the strings in italian, when I noticed this issue. Is the translation proposed by seether85 available?

[2018-04-11 07:55] anomitra opened #117 "RSCALE support?"
I don't think [RFC 5545](https://tools.ietf.org/html/rfc5545) is supported (yet). Are there any plans to support it in the future?

[2018-04-11 07:58] anomitra commented on #112
I think this can be achieved by the following rulestring.
`FREQ=MONTHLY;BYMONTHDAY=28,29,30,31;BYSETPOS=-1`

[2018-04-11 08:14] dominicrodger commented on #117
Not particularly - but we're open to pull requests.

[2018-04-24 22:12] craigsander commented on #115
Any word on whether and when this will get Django 2.0 support? Anything the community can do to help?

[2018-04-27 12:19] oliwarner commented on #115
@aclark4life In my case anyway it was more that the copy on pypi.org is ancient (from Oct 2017) so hasn't had these upgrades yet.

@craigsander the master branch supports Django 2 but may not be otherwise ready for consumption. You can try it with:

    pip install -U git+git://github.com/django-recurrence/django-recurrence.git#egg=django-recurrence

[2018-04-29 21:00] dominicrodger commented on #115
Paging @emperorcezar - I think we're safe to push a 1.6.0 to PyPI at this point - it'd just require the release notes being updated, and references to 1.5.0 in the source (e.g. setup.py).

[2018-04-30 11:30] zypro commented on #87
Having this issue with django 1.11.12 and django-recurrence 1.5.0.
It works only for the "extra" inlines. But by adding a new "lines" it doesn't work.

[2018-05-01 18:30] parrker commented on #14
I have a use case when the admin must specify a recurring set of promo dates that begins on a specific date. For example, every Tuesday for 3 months, starting from 1 of June. Now we need to remember to generate that before the first Tuesday of June to create this properly, and it is a bit awkward.

Solution described by @stefanfoulis would be perfect.

[2018-05-02 06:55] zypro opened #118 "LICENSE question"
Maybe an unusual question to open an issue, but I'm not sure about Point 3 in the projects license.

       to endorse or promote products derived from this software without
       specific prior written permission.

I'm developing a webiste with djangoCMS for my university and wanna use django-recurrence in it.
So I might not promote my "product" (website) and mention that it was build with djang

[2018-05-02 07:35] #118 closed

[2018-05-04 17:09] tomzagorski opened #119 "IntegrityError: base.Weekday defaults index to None but is a non-nullable field"
In `base.to_weekday()`, there is a case where no value is provided for the index. When attempting to save the data, the user will get a `django.db.utils.IntegrityError: null value in column "index" violates not-null constraint` error. Problem line identified below:

[code]

[2018-06-05 15:17] pobk opened #120 "Django-2.0 support"
Recurrence does not currently support Django 2.0 and throws an exception to the lack of on_delete parameter for the field.

  File "/Users/Richard/projects/nuvias/.venv/lib/python3.6/site-packages/recurrence/models.py", line 17, in <module>
    class Rule(models.Model):
  File "/Users/Richard/projects/nuvias/.venv/lib/python3.6/site-packages/recurrence/models.py", line 18, in Rule
    recurrence =

[2018-06-05 15:48] dominicrodger commented on #120
This was fixed by #110 - we just don't have a new enough release on PyPI. Paging @emperorcezar - can you push a new release?

[2018-06-13 14:53] GriceTurrble commented on #70
Coming here with the same issue.

More generally, why is this package serializing time information in an RDATE in the first place, even while the frontend widget does not include a time selector?

My team is using this package in an application where we need a set of dates, nothing more. We handle time and timezone separately so that a user, for instance, in Asia can write details relevant to an o

[2018-06-13 16:20] dominicrodger commented on #70
@GriceTurrble - nice to hear you're using django-recurrence, thanks for the feedback!

If you want django-recurrence to serialize time data differently, please send a pull request. This particular behaviour hasn't ever bitten me (or presumably, any of the other maintainers), so we've never addressed it. As far as I know, we're all working on this in our spare time, by the sounds of your comment yo

[2018-06-13 16:22] dominicrodger commented on #120
@emperorcezar  - guessing life is busy for you at the moment - any chance you can give me permissions to push PyPI releases? I'm dominicrodger on PyPI.

[2018-06-13 16:29] GriceTurrble commented on #70
Yes, this is being used in a work context, though to contribute I'd have to do so on personal time.

That said, I noticed that we are actually using an older version of django-recurrence (1.2.0). Please take what I said earlier with a big grain of salt, as I may be way off base here. Sorry!

[2018-06-13 17:17] GriceTurrble commented on #70
Off-topic, but my issue is less about time and more about code ownership. Best to keep things separated to avoid potential problems down the line.

On-topic: I've upgraded to the latest and the same issue exists, with an RDATE being serialized with time information using the user's local machine settings, converted to UTC, and all the rest.

I propose, and aim to work on:

* Change the frontend wi

[2018-06-13 17:50] emperorcezar commented on #120
Of course, and actually, this got accidentally filtered in my email. I'll
push later today.

On Wed, Jun 13, 2018, 11:22 AM Dominic Rodger <notifications@github.com>
wrote:

[2018-06-14 04:37] dominicrodger commented on #70
Thanks @GriceTurrble. That all sounds good to me. We may want to make this behaviour opt in for at least one release. One thing I'm a little confused about - if we're stripping out times entirely (per your first point), under what circumstances would we be serializing datetimes instead of dates?

[2018-06-14 04:53] GriceTurrble commented on #70
Without adding a time selector to the widget, the benefit would be for the
backend. Users may choose to create recurrences programmatically by storing
datetime objects, which can already be serialized with time data. It
wouldn't make sense to remove this functionality as an option.

On Thu, Jun 14, 2018, 12:37 AM Dominic Rodger <notifications@github.com>
wrote:

[2018-06-15 03:33] emperorcezar commented on #120
Pushed. Had issues with twine crashing, but all good now.

[2018-06-15 04:44] dominicrodger commented on #120
Thanks @emperorcezar. Marking closed. @pobk - take a look, feel free to open new issues if you see problems.

[2018-06-15 04:44] #120 closed

[2018-06-15 04:44] dominicrodger commented on #115
New release pushed, closing.

[2018-06-15 04:44] #115 closed

[2018-06-15 04:44] #112 closed

[2018-06-15 04:45] dominicrodger commented on #95
Closing stale issue.

[2018-06-15 04:45] #95 closed

[2018-06-25 05:14] dominicrodger commented on #89
@harveynr - no, I don't think this was ever patched.

[2018-06-25 20:35] yahiaali opened #121 "ReferenceError: recurrence is not defined"
I'm trying to get `django-recurrence` up and running with a Django 2.0 project and I'm having trouble rendering the recurrence widget. I've started a very basic Django project to demonstrate the issue here: https://github.com/yahiaali/django-recurrence-demo/tree/freeze-6.25.2018

Running this project and going to `localhost:8000` results in the following:
<img width="711" alt="screen shot 2018-06-

[2018-06-26 10:00] GriceTurrble commented on #121
Looking over the install instructions, you may have missed the static file configuration, which is causing `{{ form.media }}` to output nothing.

Try running `python manage.py collectstatic`, restart the server, and then see if it works.

[2018-06-26 10:12] yahiaali commented on #121
Thanks @GriceTurrble. I ran that during installation, but, just to be sure, here's the output when I run it again:
[code]
My static directory is located [here](https://github.com/yahiaali/django-recurrence-demo/tree/freeze-6.25.2018/static) if that helps.

[2018-06-26 12:15] yahiaali commented on #121
Update: I was able to resolve this error by manually adding the paths to the required Javascript and CSS files to the `Media` class in my model form.
[code]
Working code posted here: https://github.com/yahiaali/django-recurrence-demo/tree/master

[2018-07-01 14:20] #121 closed

[2018-07-24 19:38] evilnose opened #124 "Admin widget doesn't seem to include Media: 'Uncaught ReferenceError: recurrence is not defined'"
I'm generally inexperienced with Django, so please forgive me if there is an obvious reason for this issue.

I'm using Django 2.0 and Python 3.6, which I know recurrence doesn't support as of now. But if there is a way to bypass this error, or if incoming updates are coming soon to fix this problem, it will be very helpful to know.

Now the error. It is a JavaScript error in the admin page, more s

[2018-09-14 06:04] shayneoneill opened #127 "Django 2.0 support."
I see there was a closed Django 2.0 support ticket regarding issues around, the ReccurenceField. I don't believe it is completely fixed however.

I'm using 1.6, which is the last pushed to PyPi, on Django 2.0.8, using a CreateView and a Form. It all works great until I need to serialize the model into JSON when I get;-

**AttributeError: 'RecurrenceField' object has no attribute '_get_val_from_obj

[2018-09-14 06:11] dominicrodger commented on #127
Hey @shayneoneill,

There are further fixes in 1.7.0 (see [the docs](https://django-recurrence.readthedocs.io/en/latest/changelog.html), which hasn't been pushed yet (I think #126 has the relevant fix for the problem you're having).

Could you try installing from GitHub directly, and confirm everything's working as expected? If so, we can look at pushing a new release to PyPI.

Dom

[2018-09-15 05:58] shayneoneill commented on #127
Yep. That does the tricks. Its all looking good from here Captain.

Oh and neat discovery. I didn't expect this, but it plays nice with crispy forms. I thought that was gonna be a pain point, but apparently not!

Thanks for your work!

[2018-09-17 19:05] scwall opened #128 "No widget in admin"
hello, i not widget in administration django
 I use in models.py:
![image](https://user-images.githubusercontent.com/30811539/45644049-ed245780-babc-11e8-866e-6ded076f8853.png)
and admin.py:
![image](https://user-images.githubusercontent.com/30811539/45644079-01685480-babd-11e8-9092-12e420a7e105.png)
but, I do not have the widget like this :
![image](https://user-images.githubusercontent.com/30811

[2018-09-19 04:08] uroybd commented on #128
I'm also having the same problem.

[2018-09-19 11:12] cleder commented on #116
I do not think it should go into 'django_recurrence' if it is not RFC compliant. This will cause problems with other products like `django_ical`

For your specific use case i would try to store the exclusion period in another field and pass it to the 'dateutil.rrule` before calculating the recurrences.

[2018-09-20 12:44] bananu7 opened #129 "{{ form.media }} seems to be empty"
I'm using Django 2.1 and Python 3.6.6. I've installed the lib using `pip` and added it to the `INSTALLED_APPS`. I've also added the field to my model.

Now it fails as if I didn't add `{{ form.media }}` to my template. Statics are served correctly, and if I add `<script src="{% static 'recurrence/js/recurrence.js' %}"></script>` manually, it seems to progress (fails on `pggettext`).

What could be

[2018-09-22 17:53] bananu7 commented on #91
This seems like a rather grave limitation. I think the library docs would benefit from at least some pattern to implement this; "get all events for today" is a very basic RRULE use.

There are also e.g. Postgres RRULE packages, which _technically_ should allow doing that in the queryset, but I suppose this is out of scope for this library.

[2018-09-27 09:19] bananu7 commented on #129
Sorry for the late reply. I think I followed every single instruction there. Again, after adding those links manually, I got the form (and the entire library) to work.

[2018-09-27 09:29] dominicrodger commented on #129
``collectstatic`` won't affect template rendering. At a bit of a loss here - this works for me. Could you confirm if switching to Django 2.0 fixes this for you? Maybe we've missed something.

[2018-09-27 09:50] bananu7 commented on #129
Sure, I'll try running against 2.0 and report here.

[2018-10-07 21:34] pm8k commented on #128
I am also having the same trouble in the newer python/django.

In python=3.5.6 and django=1.11.10, I am able to see the widget in admin.

However, using python=3.7.0 and django=2.1 or django=2.0.5, I get the same blank field viewed above.

I have attempted all the installation instructions in the docs, which helped me get setup in 3.5.6, but no luck with the newest version of python and django.

[2018-10-10 18:52] sww314 commented on #128
I am having the same problem.

Debugging on the JS side, the libraries are not getting loaded.
Looks like the issues is that the `javascript_catalog()` views was removed. This makes the `find_recurrence_i18n_js_catalog()` fail.

[2018-10-10 20:06] sww314 commented on #128
Here is how I fixed it (for Django 2.0 also should work for 2.1)
These changes to the package: https://github.com/sww314/django-recurrence/commit/6942506c72e5f55f778be1d9d8000b61b52639da

Then in settings.py:
`RECURRENCE_I18N_URL = "javascript-catalog" # Name of URL to use`
And in urls.py:
[code]
Documentation for context:
https://docs.djangoproject.com/en/2.0/topics/i18n/translation/#module-djang

[2018-10-11 04:00] sww314 commented on #124
Duplicate of #128

[2018-10-11 04:04] sww314 commented on #129
The issue is with a missing view.
https://github.com/django-recurrence/django-recurrence/issues/128#issuecomment-428689277

[2018-11-01 22:43] alantrick commented on #128
The problem is that `find_recurrence_i18n_js_catalog` fails with an ImportError on django 2. The following works as a workaround in your urls.py:

[code]

[2018-11-04 19:36] scwall commented on #128
Thanks for all responses :).
I do not have time yet to test all this, I'll do it shortly and I'll keep you informed

[2018-11-08 21:17] #128 closed

[2018-11-09 19:29] AimeeMS opened #132 "RecurrenceField is always not required"
It looks like when the RecurrenceField is used, it is always not required (it can be saved without a date or rule) regardless of blank=True or False.

Is there a way to make this field required?

[2018-11-12 06:06] dominicrodger commented on #132
I don't think this is supported currently, but patches welcome :)

[2018-11-12 14:52] AimeeMS commented on #132
Thanks for the feedback! I do have a workaround on a project of mine with a copied and altered version of django-recurrence.

I am wondering if adding in this support may be unexpected or alter how many are using this tool (since most have been building with the fact that this field is not required). If you do not think so, I will work on submitting a patch.

[2018-11-13 07:09] dominicrodger commented on #132
I think this is something I'd happily break, provided we do a minor version bump. People can fix this in their models by setting ``blank=True`` if they want to allow blank values, if they want to have the old behaviour.

[2018-11-16 03:03] randlet commented on #91
I looked at Swingtime mentioned in the OP and it takes a different approach in that you define an rrule and then it iterates over every occurrence in the rrule and creates a record in the DB for it.  This has the advantage of making filtering like is requested here simple, but the major disadvantage is that if you need to schedule a lot of things, you'll end up with many rows in the DB, not to men

[2018-11-27 15:13] GeeWee opened #136 "RecurrenceField defaults to empty Recurrence object rather than none"
Test case:

[code]
[code]

I've looked at the code and I think the issue is in
`recurrence/base.py : deserialize`
It will return an empty occurrence on an empty string, but it should return `None`.
[code]

I wouldn't mind submitting a PR, but note that this is a breaking change of the public API - some people might be depending on this bug.

[2018-11-27 20:11] dominicrodger commented on #136
PR welcome - I think now we're more definite about allowing fields to be blank, or requiring them not to be (#133), this change makes sense. We can mark it as a breaking change with a version bump.

[2018-12-17 17:38] GeeWee commented on #136
Alright, I've been working a bit on this, and I think we need to specify the semantics of the field a little bit for the fix to get good.
I'm looking for input on how to handle blanks and null in the fields. Seeing as we extend

Currently we save empty periods as empty strings '' in the database, but I assume we want these to be "None" when they're retrieved again.

I'm thinking the following beha

[2018-12-18 20:55] dominicrodger commented on #136
Hey @GeeWee - appreciate all the thought you're putting in to this.

I think we should save empty periods as null values - although we'll have to convert `''` into `None` for data that's already stored. Can anyone think of a downside to this? Any thoughts here @AimeeMS?

[2018-12-19 07:42] GeeWee commented on #136
I agree that that makes the most sense. To make sure I understand, you want to do the `''` -> `None` conversion only from the database and out, to make sure that empty periods that are already saved, are handled correctly?

[2018-12-19 09:13] dominicrodger commented on #136
Hey @GeeWee - if an instance has an empty value, we should save it to the database as null. When we retrieve null or empty values from the database, we should convert to `None`. Hopefully with this change, the only time we'd see empty values would be from old versions of django-recurrence.

Does that make sense?

[2018-12-19 13:04] GeeWee commented on #136
Yeah that makes sense to me.

[2019-01-24 12:52] gabrielwolf commented on #99
On Wagtail 2.4 I have problems. I can't load `<script src="/admin/jsi18n/"></script>`. Chrome says `http://0.0.0.0:8000/admin/jsi18n/ 404 (Not Found)`.

My base.py settings have `USE_I18N = True` and `USE_L10N = True`.

Any help greatly appreciated!
Gabriel

[2019-01-24 14:33] FlipperPA commented on #99
Howdy @gabrielwolf, what URL do you have the Django Admin mapped to? I know with Wagtail, it is a common pattern to map the Wagtail admin to `/admin/` and the Django admin to `/django-admin/`. The JS file comes from the Django admin, so if you have it mapped at `/django-admin/`, then you're need to change the code to: `<script src="/django-admin/jsi18n/"></script>`. Does that make sense?

[2019-01-24 15:42] gabrielwolf commented on #99
Thanks @FlipperPA You helped me out 👍

[2019-02-12 14:44] zepp-lee commented on #14
In my current use case it would also make sense to be able to set `dtstart` directly in the form widget. I like @stefanfoulis backwards-compatible solution. If there is a fair chance of it being merged, I would take a shot at tackling this (optional) feature in a pull request.

[2019-02-14 04:39] pasevin commented on #127
Hey, any progress on this?

[2019-02-14 06:12] dominicrodger commented on #127
Whoops, forgot to close this - we pushed 1.7.0 quite a while back, and we've  fixed up more minor issues with Django 2.0 in subsequent releases.

Django 2.0 should be supported with recent versions of django-recurrence. If you're seeing problems let's start a new ticket.

[2019-02-14 06:12] #127 closed

[2019-02-14 22:19] pasevin commented on #87
looks like this is still an issue with inlines in django 2.1

[2019-02-15 23:06] pasevin commented on #70
Hi guys, has this been considered for the near future? Or is this project not maintained anymore? Trying to figure out if it's worth adopting it. Looks like the timezone issue is a big one.

[2019-02-18 20:02] dominicrodger commented on #14
Hi @zepp-lee - I'm open to merging something like @stefanfoulis suggests if it can be done without adding too much complication to the JS.

[2019-02-18 20:04] dominicrodger commented on #70
This isn't something I'm looking at @pasevin - it's never caused me any issues personally, and I couldn't reproduce the issue when I tried IIRC.

As to whether the library is maintained - it has quite a few active users I think, but I'm no longer doing any feature development or bug fixes myself, as I no longer use this library. That said, I do my best to merge pull requests in a timely fashion, a

[2019-02-26 04:19] cwbutler commented on #87
I agree that this is still present 2 years later. Is there a work around? Besides not using it in inline forms?

[2019-02-28 18:41] #87 closed

[2019-02-28 19:02] dominicrodger commented on #87
I've just pushed 1.9.0 to PyPI with this fix. Great work @pasevin! :champagne:

[2019-03-02 08:48] pasevin commented on #70
I tried it out at it fixes this annoying issue! I think this would be a great addition. I will create a pull request based on this and let the @dominicrodger decide.

[2019-03-04 23:25] tachang opened #140 "Why don't we serialize interval even if it is 1?"
https://github.com/django-recurrence/django-recurrence/blob/6a9b1f059b5c344fee131ef8860918531329bfe3/recurrence/base.py#L855

The reason for this is because some React javascript frontends need the interval=1

[2019-03-09 03:51] japrogramer commented on #41
hmm, is there a better way to filter for objects now?
instead of iterating one by one to check their occurrence?

I have a potentially a lot of events that would make this approach not feasible.

[2019-03-11 08:44] dominicrodger commented on #41
Nope, that's currently the only way, though pull requests welcome if you can think of a way to do this better.

[2019-03-12 06:07] dominicrodger commented on #140
I don't know the answer to this (that bit of code predates my involvement in this project), but my guess is that it's not required in theory, since it's the default interval. @tamask might remember more here though.

[2019-04-02 09:23] Jesse-imuzo commented on #91
@randlet Did you end up creating a "what events are occurring today" solution?

[2019-04-02 13:20] randlet commented on #91
Yes, although it's not in production yet.  My situation is pretty simple though.  In rough pseudocode (don't have the actual code in front of me, and can't remember the method signatures off the top of my head):

[code]

Note that this solution only works if you care specifically the *next* occurrence happens during a given time period.  If you need to know if *any* occurrence happens during a giv

[2019-04-24 16:13] Jean-Zombie commented on #99
@gabrielwolf
may I ask if you got it to work? I followed all steps in this thread including the `django-admin` url part but my console throws me this error:
`TypeError: django.jQuery is not a function` for the first line of the `recurrence-widget.init.js`. This seems to be very basic but I am noob. JQuery loads correctly though…

[2019-05-07 18:28] probachaiyu opened #141 "Can't see secondly/minutely/hourly choices"
Can't see secondly/minutely/hourly choices although they are in code.  Is it my problem or it's impossible to set up these recurrences?

[2019-05-07 19:30] dominicrodger commented on #141
Yes, there's no frontend support for these choices (and I'm not sure how well tested the backend support for them is).

[2019-05-07 19:30] #141 closed

[2019-06-09 09:35] tobiasgoecke commented on #99
+1

[2019-06-18 00:25] apowell656 opened #142 "Will there be any support for django 2.2 and above?"
Do you plan on any updates so that current versions of django will be supported? I have been trying and hoping to get this to work with 2.2 and just re-read the documentation to find this...

[code]

It appears that {{form.media}} is loading enough to create the textarea but that is it.

![Screenshot from 2019-06-18 18-30-28](https://user-images.githubusercontent.com/1969515/59724263-41e53200-91f7

[2019-06-19 06:06] dominicrodger commented on #142
I think Django up to at least 2.1 is supported, and I suspect 2.2 works too - that documentation is just out of date. If you install an older version of Django locally, does that page work? The error you're seeing doesn't look Django version related to me - I suspect you've just got some set up issues.

[2019-06-19 11:23] apowell656 commented on #142
I followed the instructions  [here](https://django-recurrence.readthedocs.io/en/latest/installation.html) and added the following to my project urls.py (not my applications urls.py)

`import django
from django.conf.urls import url
from django.views.i18n import JavaScriptCatalog

# Your normal URLs here...

# If you already have a js_info_dict dictionary, just add
# 'recurrence' to the existing 'pa

[2019-06-19 11:47] apowell656 commented on #142
The [link](https://github.com/django-recurrence/django-recurrence/issues/47) helped me get past the pgettext error in the console now I just have

[code]
Looking through the js files I am unable to tell what jquery dependency is needed. It feels that maybe more or less the problem. I am currently using jQuery 3.4.1 .

[2019-06-19 21:33] apowell656 commented on #142
Ok, so I removed all occurrences of django.jQuery and added scripts/CSS to my static/lib folders and things are displaying. I will just have to work with the CSS which is not playing nice with the modal. I am guessing there needs to be a check if the form is in the admin or not for the widget to load properly.

[2019-06-21 16:53] apowell656 commented on #142
@dominicrodger I have been able to get everything working except for the calendar button ( I am not a javascript guy) any ideas or help to get this piece working?

[2019-07-01 14:38] aaugustin commented on #142
I'm using Python 3.6 and Django 2.2. I hit the same issue. Pull request #143 fixes it.

[2019-07-01 19:00] dominicrodger commented on #142
Awesome - thanks @aaugustin. Once I've merged #143 I'll update the documentation to make it clearer which versions of Django are supported.

[2019-07-01 20:09] dominicrodger commented on #142
Merged #143, docs updated in 07add25c01058206d3e273598c8716d8d31c47e8.

[2019-07-01 20:09] #142 closed

[2019-07-02 11:51] apowell656 commented on #142
So the package should be able to be executed as designed without my
"hackery"?

AP

On Mon, Jul 1, 2019, 4:09 PM Dominic Rodger <notifications@github.com>
wrote:

[2019-07-08 14:06] aleksihakli opened #144 "Proposal: drop Python 2.x support on next release"
As we're migrating Django projects into Django 2.x, some old APIs are becoming unavailable in the latest master release.

Would it be feasible to drop Python 2.7 support in the next django-recurrence release as December and the Python 2.7 deprecation is coming soon? This would enable cleaner, Python 3 only code.

I have personally been advocating for Python 3.6+ code for Django projects, as runnin

[2019-07-08 14:47] dominicrodger commented on #144
That sounds fine to me - any pull request welcome here. We'd do a minor version bump for this, obviously.

On Mon, 8 Jul 2019, at 3:06 PM, Aleksi Häkli wrote:

[2019-07-08 16:01] aleksihakli commented on #144
Great! I'll try and make a PR that cleans up the old Python 2 stuff up a bit. I just opened one for the related [django-ical project update](https://github.com/jazzband/django-ical/pull/29), is a similar PR OK?

[2019-07-10 05:21] dominicrodger commented on #144
This was merged in #145 - I'll update release notes and push django-recurrence 1.10.0 shortly.

[2019-07-10 05:21] #144 closed

[2019-07-15 23:36] nlittlejohns opened #147 "Error: Can't find variable "pggettext" and partial solution/workaround"
Hi,
I hit this issue while using Django-recurrence (1.10, latest), Django 2.2.2 and Python 3.7 and I think a few others are having the same problem. The problem is that when loading a form with RecurrenceField, the field just shows a blank textfield and my browser's debugger says it can't find the variable "pggettext", which should be loaded as part of the JavaScriptCatalog view.

I've isolated th

[2019-07-17 06:06] dominicrodger commented on #147
Thanks for this investigation @nlittlejohns. Which code in the docs were you using? Slightly confusingly, the docs had references to how to set up the JavaScript catalog pre-Django 1.10, and a second example for Django 1.10 onwards. The code you ended up with is very similar to the second section. I've removed the first section for now, since we don't support Django < 1.11.

I'm not sure what's go

[2019-07-17 12:51] nlittlejohns commented on #147
Thanks for your response Dominic!

If I use the code in the docs, I get the AttributeError. This is what I add to my project's urls.py:
[code]

The only change from the docs is that I use re_path instead of url, but the result should be the same. If instead I use the code I shared above, I can successfully load the JavaScriptCatalog view at the specified location.

I agree that the find_recurrence

[2019-07-18 05:00] dominicrodger commented on #147
OK - thanks Neil!

If you're open to it - pull requests welcome to make this all a bit better - I'm not actually using django-recurrence at the moment (and haven't since about Django 1.8!), so I'm a little out of date :)

[2019-07-18 13:34] nlittlejohns commented on #147
Happy to submit something when I'm a bit more confident, still very new to lots of this! Thanks again 😊

[2019-07-31 17:18] nlittlejohns opened #149 "Validating form with RecurrenceField immediately updates model"
I've noticed that calling is_valid() on a form which includes a RecurrenceField immediately updates the Recurrence object.

**To reproduce**
Create a model with a RecurrenceField object and a ModelForm based on that object
Include the following code in your form handling function (my model instance is called "event")
[code]
Use the ModelForm to change the recurrence rule from weekly on Sunday to w

[2019-08-01 19:04] dominicrodger commented on #149
That seems like a bug, though probably one that doesn't affect many people, since people typically will only call `is_valid` right before `save` (unless `is_valid` returns False for some other field for example).

[2019-08-02 01:01] randlet commented on #149
I just tested this and can confirm this behaviour. It definitely seems like bug to me since it breaks the  the normal expectation that an invalid form won't update the model.

[2019-08-03 15:54] nlittlejohns commented on #149
Yeah, I think it's a pretty niche use case.

For reference, my use case is that I'm doing a Google Calendar-style "edit this and following events" type thing, and I'm doing this in the following (perhaps a non-ideal) way:

(Context: I have "event" objects which store recurrence information, then I have "occurrence" objects which are bulk-created based on the event's recurrence rules)

1. Re-calcul

[2019-09-18 13:39] edwin254 opened #150 "Support of the 5th occurences with bysetpos."
Hi,
I ran into an issue when trying to setup a monthly recurrence which can support upto the 5th occurrence of a rule. The issue seems to stem when converting rule to text which currently support upto the 4th occurence.
My question is there a reason behind why this is not supported or it's something that can be implemented?

[2019-09-23 08:32] duduklein opened #152 "When should we use models?"
Hi

I'm just starting with django-recurrence and I don't understand what are the models for and I couldn't find any documentation about it.

When should I use the RecurrenceField directly, which seems to store a rule "instance" as a TextField and when should I use the models themselves?

Can you point me in some direction?

Thanks in advance
Eduardo

[2019-09-26 23:11] chinochao opened #153 "Form not displaying"
I am using the following versions.

Django==2.2.5
django-recurrence==1.10.1
Python 3.7.4

However in my form it seems to only show Add Rule and Add Date but they do not do anything when I click on them. I followed the instructions at https://django-recurrence.readthedocs.io/en/latest/installation.html#install for the installation and setup the model and form. I am also using Generic Views if that

[2019-09-26 23:46] chinochao commented on #153
Turns out I am getting Javascript errors.

ReferenceError: pgettext is not defined
recurrence.js:1038:5
    <anonymous> http://127.0.0.1:8000/static/recurrence/js/recurrence.js:1038
TypeError: Argument 1 of MutationObserver.observe is not an object.recurrence-widget.init.js:7:11
    <anonymous> http://127.0.0.1:8000/static/recurrence/js/recurrence-widget.init.js:7
    jQuery 2

[2019-09-27 02:27] chinochao commented on #153
It seemed the issue was related to the javascript catalog.

I added the following to my urls.py

# jsi18n can be anything you like here
urlpatterns += [
    path('jsi18n.js', JavaScriptCatalog.as_view(packages=['recurrence']), name='jsi18n'),
]

And on my base.html I added the following on the header.

  <script src="{% url 'jsi18n' %}"></script>

[2019-09-27 02:27] #153 closed

[2019-10-01 21:19] nlittlejohns commented on #147
I did it! I made my first ever pull request.

Hopefully I didn't screw it up!

[2019-10-01 21:49] nlittlejohns commented on #147
Hmm, just looking at new issues and wondering if this is a better solution?
https://github.com/django-recurrence/django-recurrence/issues/153

[2019-10-03 14:23] duduklein opened #155 "Hourly frequency"
Is it possible to set an hourly frequency?

In the admin widget I don't see how this is possible.

[2019-10-03 14:32] randlet commented on #155
It's not possible with this library.  It works with date recurrences, not time. You need to handle the timing of the events on your own.

[2019-10-03 16:32] duduklein commented on #155
Thanks @randlet for your quick response.

What about using the models?
I saw there is a "hourly" choice in the frequency choices.

[2019-10-03 16:43] randlet commented on #155
Sorry, not sure. I've never used the models, only the recurrence field/widget.

[2019-10-03 16:49] duduklein commented on #155
Thanks, I'm gonna wait a couple of days to see if the author responds.

[2019-10-15 18:28] chinochao commented on #14
Has this completed being ignored?

[2019-10-15 19:19] chinochao opened #156 "Form Widget DtStart"
I am having the following issue, not sure if there is some solution but I did not find anything on the documentation.

Here is the issue:
Lets say this month has 5 Fridays(days 3, 10, 17, 24, 31) and I want to use Every 2 Weeks in a Rule. My issue is when I select the Rule, how can I specify the dtstart in the form? I want to have the Fridays as 10 and 24 but it seems the Rule saves the 3,17,31.

[2019-10-15 19:52] dominicrodger commented on #14
If someone has a patch for this that can be merged, without complicating the JS too much, it'll be merged.

[2019-10-15 19:53] dominicrodger commented on #156
Closing in favour of #14.

[2019-10-15 19:53] #156 closed

[2019-11-04 23:22] bramski opened #157 "Serialization?"
I have a model that looks like such...
[code]
and a Viewset with a serializer as such...
[code]
When I attempt to save the model with the following string:
`FREQ=DAILY;INTERVAL=2;COUNT=4`
I get back:
`{'recurrence_rules': ['malformed data']}`
How does one serialize the recurrence rule field?

[2019-11-05 22:04] bramski commented on #157
Hello @dominicrodger do you have any input here?  Appears to be a bug or missing feature to me. Most django fields are serializable.

[2019-11-05 22:23] bramski commented on #157
Alright enough digging and I figured out what was missing in my example recurrence, needed a `RRULE:` in front to make it a valid RRULE like:
`RRULE:FREQ=DAILY;INTERVAL=2;COUNT=4`
The message is pretty shit if you ask me for figuring out what is wrong. But I'll close the bug.

[2019-11-05 22:23] #157 closed

[2019-11-13 22:10] jsoeterbroek commented on #155
I need this also...

[2019-11-18 17:10] bramski commented on #102
This pull request was merged can you make a release with it please? I am seeing this issue in version `1.10.1` which is the latest version.

[2019-11-18 17:22] bramski commented on #102
I see, the pull request did not address dealing with when there is no dtstart or dtend attached to the recurrence so this support is incomplete.  If you call
`recurrence.between(start, end)` and they are not set then the datetime created is offset naive and the comparison fails and your app crashes.

[2019-11-18 18:18] bramski commented on #102
Looks like not your bug:
https://github.com/dateutil/dateutil/issues/979

[2020-01-15 13:35] cleder opened #158 "EXDATES cannot be comma separated"
When I pass an exclusion date in the form `'EXDATE:20191212T235959Z,20191213T235959Z'`
the deserialized value will only contain the first date.
The above is valid according to the RFC https://www.kanzaki.com/docs/ical/exdate.html

[2020-01-15 13:36] cleder commented on #158
`RDATE`s will also be affected by this behaviour

[2020-01-29 02:37] SteveHere opened #160 "Unable to set recurrence rule for Nth of every month"
Proof (Unable to set a new rule for the Nth of every month):
![image](https://user-images.githubusercontent.com/13937978/73323638-0dece780-4283-11ea-8176-ca617e2dd9ce.png)

However, I can set the 'On the first X' with no problems:
![image](https://user-images.githubusercontent.com/13937978/73323693-396fd200-4283-11ea-91fb-f268ce808225.png)

JS error message:
![image](https://user-images.githubuser

[2020-01-29 02:57] SteveHere commented on #160
Found temporary fix by simply running `recurrence.language_code = "en"`

[2020-01-31 05:40] SteveHere commented on #160
Okay, so... `recurrence.language_code` wasn't set in `recurrence.js`, that part's certain... now comes the problem of trying to set `recurrence.language_code`.

I'm entering from a point of direct face-to-wall here, but the only way for `language_code` to be flexible would be to have it as a `SETTINGS` variable for users to hook a view to. And then call the view user-side, which will resolve what

[2020-03-07 17:05] urbalazs opened #162 "Strange placeholders"
In https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/static/recurrence/js/recurrence-widget.js#L1603 there is something what looks like a date `%l, %F %j, %Y`but I can not find what the parameters substitute. Can you please explain, what is this date for and what are the parameters?

There is an other problematic string in https://github.com/django-recurrence/django-rec

[2020-03-10 20:54] derpadoo commented on #160
Seeing something similar.

[code]

Trying to set a recurrence for the 1st and 15th of the month through the Django Admin.

![image](https://user-images.githubusercontent.com/27816854/76356980-d68f4300-62e4-11ea-9ea6-4406e419b82d.png)

The POST request inspected using DevTools (data isn't being passed correctly):

![image](https://user-images.githubusercontent.com/27816854/76357002-e149d800-62e4-11

[2020-03-10 21:51] derpadoo commented on #160
My weak attempt to debug some javascript :)

In my example, it makes it to this line:

https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/static/recurrence/js/recurrence.js#L158

but doesn't get to assign it to `items`

https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/static/recurrence/js/recurrence.js#L161

![image](https://user-images.githu

[2020-03-11 15:35] derpadoo commented on #160
Traced the bug to where @SteveHere originally identified it in: https://github.com/django-recurrence/django-recurrence/blob/master/recurrence/static/recurrence/js/recurrence.js#L448

French language logic was added by @ollb in PR https://github.com/django-recurrence/django-recurrence/pull/32

Release was 1.2.0

![image](https://user-images.githubusercontent.com/27816854/76430218-10f8ee80-637e-11ea

[2020-03-13 05:35] aekanshd opened #163 "Major Possible Update: Support For Times."
We're using Django-Recurrence in a production server, and we largely deal with events. We would like to see a DateTime field instead of a DateField alone so it becomes hugely easier to tackle trickier issues like timezone conversion, and event management. Please feel free to give an explanation as to why this wasn't the design initially thought of.

Larger issue: We're using the recurrence field a

[2020-03-13 05:37] aekanshd commented on #155
Linking this to #163

I agree adding a DateTime will make it more complicated, but we could just opt for a "Recurring Date with Same Time" model.

[2020-03-24 15:48] duduklein commented on #163
@aekanshd , the `RecurrenceField` is actually a `TextField` not a `DateField` as far as I understand.

According to dateutil, each rule could have a dtstart which is an aware datetime. In this package, this dtstart can be set generally for the ruleset, but not per rule.  I don't know why the author made this choice.

I'm also using a `TimeField` alongside the `RecurrenceField`, but this means that

[2020-03-25 08:10] duduklein commented on #163
@aekanshd some other thoughts about this :

I looked at the dateutil library directly to check the datetime support. As the [RFC 5545](https://tools.ietf.org/html/rfc5545) specifies every rule has its own DTSTART property which gives the time as we want. There is one drawback though. In dateutil every component of the ruleset, including and excluding rules and dates, must be of the same type.

So

[2020-03-25 22:05] dominicrodger commented on #163
Hi @duduklein - I don't have a lot of light to shed here unfortunately - your assertion that this library deals with dates only is correct - where I've used it I just add a separate field for time on the model, I've never needed anything more complicated than that.

I don't actually use this library now - so my support here is mostly just merging fixes where I am comfortable with them, and pushing

[2020-04-15 22:04] maxmcclorey opened #164 "Issue with BYDAY recurrence and start time after midnight UTC"
Suppose I have an event starting on Thursday 4/16 at 9p (2100h) Pacific time and recurring every Tuesday and Thursday. Pacific time is UTC-0700, so the event has a UTC start date of 0400h on 4/17--4am the following day.

When my recurrences are generated they take the start time of the original event, but not the date. So my recurrences are generated on Tuesdays and Thursdays at 0400h, which trans

[2020-04-20 21:02] manuelkappler commented on #147
#153 solved that issue for me as well. It seems like form.media was not importing jsi18n.

[2020-05-11 17:43] redy007 opened #165 "Form not displaying"
Django 3.0, all requiments installed.

settings:
LANGUAGE_CODE = 'cs'

LANGUAGES = (
    ('cs', 'Čeština'),
    ('en', 'English'),
)

template:
{% csrf_token %}
{{ form.media }}
{{ form }}

javascript error:
TypeError: MutationObserver.observe: Argument 1 is not an object. recurrence-widget.init.js:7:11
    <anonymous> https://localhost:8000/static/recurrence/js/recurrence-widget.init.js:7
    jQu

[2020-05-19 16:35] will-emmerson opened #166 "Setting value via javascript"
I am trying to set the value of the recurrence field using `.val()` but the widget isn't updating, e.g.:

[code]

I tried running `initRecurrenceWidget` but it doesn't seem to make any difference.

[2020-05-20 09:16] will-emmerson commented on #165
I had the same problem, it's looking for an element with an id of `container` so just put one in your html somewhere.

[2020-06-16 15:34] agenteAND opened #168 "Uncaught TypeError: Cannot read property 'split' of undefined"
Hello, getting Uncaught TypeError: Cannot read property 'split' of undefined when select a day with monthly freq. in admin widget.
[code]

[2020-06-16 20:42] wolfhound115 commented on #76
Hey I'm actually having the exact same problem. No errors just the widget doesnt work in my Model Forms in the exact same way as pictured above. Was anyone able to resolve the issue?

[2020-06-16 21:08] eakenbor opened #169 "How to a fixed number of occurrence?"
I have a start date but no end date. I want my recurrence to happen monthly and I want only 10 recurrence instead of dates recurring till the year 9999. Please how can I achieve this?

[2020-06-16 23:05] wolfhound115 commented on #129
having a similar issue where I can see the add date and add rules buttons but clicking them doesnt do anything in my model form. In the django admin it works perfectly fine.

[2020-06-17 22:09] wolfhound115 opened #170 "Recurrence only working in Admin but buttons don't do anything when I use it in Model Form"
Django admin has been fully functional with the package. However, when I tried to integrate it into a model form, the buttons don't do anything when I click them... Any help on this would be great because I've been stuck on this issue for days now with no luck!

[2020-06-19 20:32] wolfhound115 commented on #170
UPDATE: I got it to work by copying the head tag from the admin view into my form view, so it's definitely an issue of form.media not working correctly and not loading the full set of JS links required to run the form (although it does load some of the required JS/CSS)

[2020-06-29 12:03] bobozar opened #171 "Generating Recurrence Programmatically or Via Field"
From the API, the frontend will send me, start_date, end_date and time with each having a datetime obj. The interval should be rrule text. example, FREQ=DAILY;INTERVAL=2;COUNT=4 . Now, how do I pass the interval text value, alongside the start and end datetime to get the recurrence between the two dates?

Something like below example.

[code]

Or can I merge the interval text string with start and

[2020-07-19 20:35] NZemlin commented on #170
Would you mind further specifying how you fixed this issue?  What do you mean by you copied the head tag from the admin view into your form view?  I'm having the same issue and am having trouble fixing it.  I'm pretty new to Django, so if this is a trivial question I apologize for the inconvenience

[2020-07-21 23:43] wolfhound115 commented on #170
Hey! Yeah I'd be happy to help.

What I meant by that is the recurrence package worked for me when i went into the django admin http://127.0.0.1:8000/admin

but for some reason I wasn't getting the functionality at all when I included it in a custom django model form.

So after spending days looking online for a solution I tried just going into the source code of the admin site on chrome by using

[2020-07-21 23:51] wolfhound115 commented on #170
Sorry for some reason it was reformatting my code every time I copied the tags so I had to take a screenshot*

[2020-07-22 08:17] NZemlin commented on #170
Thank you! That did the trick, and I'm kicking myself for not thinking of that.  I appreciate your time very much.

[2020-07-22 16:06] Barium commented on #47
I have same problem using Python 3.8 Django version 3.0.8. It works in the admin page, but does not work when viewing the regular form. I get the error:

Tested with both Firefox and Safari. I have followed the guide and added the JavaScript catalog to the urls.py of the project. I have added `{{ form.media }}` to the form template before the `{{ form }}` but after csrf token, as shown in the guid

[2020-08-05 15:49] scwall opened #173 "Separate form media in 2 parts form.css and form .js"

[2020-08-05 15:55] #173 closed

[2020-08-05 20:03] wolfhound115 commented on #170
aw no worries fam! this is my first time helping someone out on github so I'm glad I could return a favor to the community! It was super frustrating when I spent days looking for an answer on every possible website without being able to find anything.

[2020-09-20 00:31] thimonsn commented on #168
I was having the same issue. Looking at the recurrence.js file below, recurrence.langauage_code was always being set to undefined. Not sure why... but to solve, I changed line 448 to "var language_code = 'en-us'" and this solved the problem for me. This matched the language code that was in my Settings.py file.

You can quickly test this by setting recurrence.langauge_code to "en-us" in the inspec

[2020-10-06 18:27] stefan-walluhn opened #174 "Serializing DTSTART into UTC violates recurrences on daylight saving time"
In several time zones the concept of daylight saving time is known. Recurrence should be stable when switching back and forth to daylight saving time, but are not when using `django-recurrence`.

When serializing timezone aware DTSTART datetimes objects, `django-recurrence` converts these times to UTC. This happens in the backend:

https://github.com/django-recurrence/django-recurrence/blob/f3b511

[2020-10-13 18:29] NZemlin commented on #170
Did you follow wolfhound115's solution and it still didn't work for you? I included those head tags that he found and it started working immediately for me.

[2020-10-16 12:56] jmaas commented on #170
Hi, thanks for the suggestion. I fixed it by adding a Media class to the form:
[code]

[2020-11-23 06:05] havocy28 commented on #164
I am also having this problem.  Have you found a solution?

[2020-11-23 15:44] maxmcclorey commented on #164
It turned out to be an issue with mixing timezone-aware and timezone-naive datetimes. I forget exactly what the solution was (and I'm no longer with the company where I had this issue, so I can't check), but I think the solution ended up involving using a timezone-aware datetime to seed the recurrences?

[2020-11-24 22:30] wolfhound115 commented on #170
Hey guys, I found where the issue was in the source code and made a pull request for the bugfix if you'd like to check it out! My first time contributing a little to an open-source project so it took a little while for me to figure out where the issue was, but I'm glad I could help you guys out in the meantime!

https://github.com/django-recurrence/django-recurrence/pull/177

[2020-12-03 14:40] Mapiarz commented on #174
Good write up but that's just one example where this package fundamentally breaks.

If your local timezone is different from server, everything gets screwed up as well.
For instance: My local timezone is 6 hours ahead of server time. When I set up a 'weekly, each Friday' rule and an `exdate` to December 25th and save the object, the underlying exdate is 2020/12/24 18:00. Because of that, that `exd

[2020-12-09 21:44] BigglesZX opened #178 "Recommended way to check if any recurrences have been defined in the field"
Hi, thanks for this super useful library.

I can filter quite easily to find models that do/don't have recurrences defined in their `RecurrenceField`, e.g. by using `.filter(recurrences='')` or `.exclude(recurrences='')` in QuerySets (where the `RecurrenceField` is called `recurrences`).

However when accessing a specific model instance, I can't work out how to cheaply check if any recurrences are

[2020-12-10 12:00] BigglesZX commented on #178
Turns out I had already solved this, and forgotten.

The solution is a simple boolean test, e.g.

[code]

[2020-12-10 12:00] #178 closed

[2020-12-19 07:58] SteveHere commented on #168
Still have the same problem; here's a fix for anyone else:
`
            <script>
                setTimeout(function(){
                    (function(elements){
                        if(elements.length > 0){ elements[0].id = "container" }
                    })(document.getElementsByClassName('recurrence-widget'));
                    // This line is needed to resolve this bug: https://github.c

[2020-12-21 12:10] pydolan opened #179 "Django v3 deprecation warnings (`gettext_lazy` replacing `ugettext_lazy`)"
Django v3 added deprecation warnings for replacing `ugettext_lazy` with `gettext_lazy`.  It looks like both functions have existed [together since Django 1.0x](https://github.com/django/django/blob/stable/1.0.x/django/utils/translation/__init__.py), so probably safe to just make the one character change

[2021-01-02 15:56] nerdoc opened #180 "translation of rules buggy?"
I have a simple object:
[code]
When I see it in the Django admin, it translates the rule correctly into German:
![image](https://user-images.githubusercontent.com/2955584/103460989-267b4280-4d1b-11eb-9820-42ad96c002c6.png)

But when I click on the item, the field is untranslated:
![image](https://user-images.githubusercontent.com/2955584/103461009-490d5b80-4d1b-11eb-91ca-52926605be19.png)

Could i

[2021-01-05 03:20] skumarcm commented on #158
Is there any resolution to this issue?

[2021-02-01 16:57] tobast commented on #170
I've just encountered this issue in one of my projects. According to [the docs](https://docs.djangoproject.com/en/3.1/topics/i18n/translation/#internationalization-in-javascript-code), it seems that this project should provide a `JavaScriptCatalog` view. Reusing the admin site's `JavaScriptCatalog` looks like something that is not meant to be done and would be fragile.

[2021-02-11 20:28] agenteAND commented on #168
recurrence.language_code = "en";  fix this bug thanks @SteveHere

[2021-02-11 20:28] #168 closed

[2021-02-15 17:07] ruiqurm opened #181 "Is there has a "include_dtend" parameter?"
It seems that sometimes the datetime of `dtend` will appear in the recurrence.

Say I want to get all Monday of  odd week.
[code]
The output is:
[code]
The last datetime is Saterday rather than Monday.

I know it can be solved by just setting the `dtend` the last recurrence.

But I wonder if there is another way to eliminate the last element.

[2021-02-23 03:58] SteveHere commented on #168
The bug is still not resolved. The developer shouldn't need to set `language_code` to `en`.

[2021-03-25 14:23] derpadoo commented on #155
This ticket may help: https://github.com/django-recurrence/django-recurrence/issues/24

It pointed me to this file: https://github.com/swmcc/django-recurrence/blob/93485a72f59f6e5bdbdefb28e355566ff527ab07/recurrence/static/recurrence/js/recurrence-widget.js

I just started playing around with it yesterday, so my testing is minimal, but I copy pasta'd that file into the `recurrence-widget.js` file

[2021-06-21 10:14] wolzenbug commented on #158
Any updates on this? Did you manage to find another solution?

[2021-06-21 11:47] cleder commented on #158
@ecilveks @komar?

[2021-08-13 14:30] pedrofaria09 commented on #153
Hello,
Im with a problem using recurrence and autocomplete at the same time.
My page is divided in 2 forms:
1st form- containing autocomplete, datepicker, etc.
2nd form- containing recurrence and MultiSelectField.
When I comment {{ form2.media }}, I got autocomplete working but recurrence doesn't work:
![Captura de ecrã 2021-08-13, às 15 13 21](https://user-images.githubusercontent.com/14875822/

[2021-08-13 14:31] pedrofaria09 commented on #47
Hello,
Im with a problem using recurrence and autocomplete at the same time.
My page is divided in 2 forms:
1st form- containing autocomplete, datepicker, etc.
2nd form- containing recurrence and MultiSelectField.
When I comment {{ form2.media }}, I got autocomplete working but recurrence doesn't work:
![Captura de ecrã 2021-08-13, às 15 13 21](https://user-images.githubusercontent.com/14875822/

[2021-08-29 13:37] xvendor commented on #129
I had the same probleme.  think I followed every single instruction found in the instruction.but i didn't work Untill I put this in my template

    {% csrf_token %}

    {{form.media}}

    {{form.as_p}}

I think {{form.media}} should be followed by {{form.as_p}}.

[2021-10-07 13:58] Ibrohimbek opened #185 "Translation is not working for other languages."
When I changed user language in my project to Spanish I got an exception because of translated variable in line reccurence/base.py:1191:
[code]
There are used old python formatting that needed to upgrade.
There are other places that needed to upgrade of formating.

Changing that line to this fixes the problem:
[code]

[2022-01-18 20:54] aleksihakli opened #192 "Read the Docs configuration update"
RTD needs to run with Python 3+ for the Sphinx docs builds, currently it's using Python 2.7

https://readthedocs.org/projects/django-recurrence/builds/15798471/

[2022-01-18 21:02] aleksihakli commented on #174
@stefan-walluhn and @Mapiarz would you mind taking a look at #191 and see if it handles the timezones OK?

[2022-01-20 17:51] #174 closed

[2022-01-21 09:58] aleksihakli commented on #192
Fixed by

https://github.com/django-recurrence/django-recurrence/commit/75b8b22eff81ccd6e63890cbdd37e0c49282fdc0

[2022-01-21 09:58] #192 closed

[2022-01-23 18:39] GergelyKalmar commented on #179
This issue can probably be closed now.

[2022-01-26 08:48] jazzband-bot opened #194 "Implement Jazzband guidelines for django-recurrence"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-recurrence](https://github.com/jazzband/django-recurrence)

It was initiated by @aleksihakli who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel fr

[2022-01-28 08:51] aleksihakli commented on #194
Hi @jezdez and @dominicrodger,

All the repository and credentiala requirements for django-recurrence Jazzband transfer should be OK now.

PyPI release automation needs a configuration key for automatic tag-to-release and Jazzband site needs me and @dominicrodger as maintainers:

https://jazzband.co/projects/django-recurrence

Thank you for your effort!

[2022-02-09 05:58] moshehaiem commented on #158
Is there any update on this @cleder

[2022-03-04 12:01] ronaldlangeveld opened #198 "Wagtail Error"
Tried adding Django-recurrence to my Wagtail project... however getting the following.

<img width="930" alt="Screenshot 2022-03-04 at 14 00 19" src="https://user-images.githubusercontent.com/19263291/156759889-f46d5637-9d95-4413-afde-4236afe10574.png">

I suspect it might be caused by Wagtail running  ReactJS now that's messing with the compatibility.

[2022-03-05 11:25] ronaldlangeveld commented on #198
https://github.com/wagtail/wagtail/issues/8078#issuecomment-1059745864

[2022-03-16 00:35] jrdltmr opened #200 "Recurrence Models"
I've added django-recurrence to my Django 4.0 project. The form widget works great, and I am able to save the form to my database. Although, I'm only seeing the recurrence text added as a column on the database (RecurrenceField); the other recurrence models don't appear to be used. Am I missing something?

[2022-03-29 10:46] taut-and-yare opened #204 "The between() method with inc=True includes dtstart even when there is no Recurrence then"
I have model with a RecurrenceField:
[code]

In the django admin, I add a rule: weekly, Mondays.

I need to get all the Session dates of the current month (including those in the past). However, when I call between() with inc=True, and dtstart = the first day of the month (as decribed in the [docs][1]), then that dtstart is returned too (which is a Tuesday for March 2022):
[code]

  [1]: https://d

[2022-03-29 16:37] taut-and-yare commented on #204
Ah ok I now see that I need to set `include_dtstart=False`. Closing

[2022-03-29 16:37] #204 closed

[2022-04-11 17:22] sajadhn1988 opened #206 "How to install this app?"
There is a setup.py instead of manage.py . How to install this app and run the local server without the manage.py file?

[2022-04-28 10:46] 5parkp1ug opened #210 "Support for DEFAULT_AUTO_FIELD"
# Context
Django earlier used to create id field using `django.db.fields.AutoField` which got replaced with `django.db.fields.BigAutoField`. So, when we run `makemigrations` command a new migration file is created for the django-recurrence app with the changes to id field. This migration should be shipped by default with the package.

Also, when the missing migration is created in a docker environ

[2022-05-08 18:12] alexander-saratovcev commented on #210
Same issue for me, any chance to merge it?

[2022-06-07 09:08] s-slavchev commented on #206
django-recurrence is a package(reusable app), which is supposed to be installed into another django application. You can follow the [Getting started](https://docs.djangoproject.com/en/4.0/intro/) tutorial from the documentaion to create a django app and then follow the [django-recurrence documentation](https://django-recurrence.readthedocs.io/en/latest/installation.html)  to install the package.

[2022-07-09 18:59] lino commented on #210
I just did.

[2022-07-09 18:59] #210 closed

[2022-07-10 12:02] #165 closed

[2022-07-10 12:17] lino commented on #198
This should be fixed with https://github.com/jazzband/django-recurrence/commit/b79551cccfad58cec664a806f70483ac67c22f66

[2022-07-10 12:20] lino commented on #4
The widget was rewritten to jQuery and the concerns of @beruic were true.

[2022-07-10 12:20] #4 closed

[2022-07-10 21:22] lino commented on #180
Did you follow the instructions how to set up i18n?

 https://django-recurrence.readthedocs.io/en/latest/installation.html#set-up-internationalization

[2022-07-11 07:02] #198 closed

[2022-07-11 15:06] lino commented on #160
This was fixed in https://github.com/jazzband/django-recurrence/commit/7190d6ca1f20fb248d516f1b405d0d9ff4b84e18

[2022-07-11 15:06] #160 closed

[2022-07-11 15:18] #170 closed

[2022-07-11 15:21] lino opened #218 "No error handling in JS code if translation is not setup correctly"
Several issues (e.g. #170 ) in this project are related to surprises in our setup process and documentation with room for improvement.

I'll look into adding error handling in the JS side to give out helpful error messages hinting to setting up the translation stuff correctly.

[2022-07-11 15:23] lino opened #219 "Subset of supported rules not specified."
The documentation states that we support a subset of rfc2445 but not which subset. We should change that.

[2022-07-22 11:50] viveksudani opened #221 "Monthly Last Days (-1, -2, -3, -4) Highlight issue (Django admin)"
When I load model page to edit, schedule (recurrence field), Monthly Last Days like -1, -2, -3, -4 options are not being highlighted, even if it is selected. (Image Below)

![Screenshot_2](https://user-images.githubusercontent.com/38692460/180431650-4fce9ffa-3c6b-4073-a70c-89a2e65ea011.png)

**Example**
-- I select monthly last, second last and save the item. (RRULE:FREQ=MONTHLY;BYMONTHDAY=-2,-1)

[2022-08-12 16:23] s-slavchev commented on #152
Hi

I was asking the same question myself. Updating the documentation is definitely needed, but could you please give us some direction here in the issue itself.

All best

[2022-08-14 23:42] GambetaClub commented on #218
I installed and imported JavaScriptCatalog into my URLs and my error shows: "ReferenceError: pgettext is not defined at recurrence.js:1037:12".  My django version is 4.0. I pass {{ form.media }} to my template but still doesn't work. Any suggestion? Thank you!

[2022-08-28 21:50] nerdoc commented on #180
Yes, this is my main urls.py:

[code]

[2022-09-27 07:43] LucasGrugru opened #232 "function occurences() returns always the dtend"
Hello,

I noticed a behavior that I don't understand. This may be a desired behavior but it brings unwanted data.

the function `to_dateutil_rruleset(self, dtstart=None, dtend=None, cache=False)`  with a dtend always returns the end date, even if the latter is not part of the recurrence rule.
The problem is located on file [base.py:571](https://github.com/jazzband/django-recurrence/blob/master/rec

[2022-09-30 18:07] Josiah-J opened #235 "Migration bug "Nonexistent parent node""
I installed django-recurrence v1.10.3 for an app I'm developing with Python 3.7.3.  All is fine when I run the application locally on my dev machine,  however when I deploy the application and run migrations I get the following error:

I know why this is happening.  It is happening because the migration on my app references a migration on the django-recurrence package which is nonexistent.  But sh

[2022-10-10 14:02] nerdoc commented on #181
you can see this problem easier, use a list that produces weekdays:
[code]
This is also true if you use `inc=True` instead of `include_dtstart`.

IMHO this is clearly a severe bug, as the pattern "recurrence.Rule(recurrence.WEEKLY,interval=2,byday=0 )"  is definitely not meaning exactly what it says. If I want to include the first or last occurrence, it still has to obey the rules, each "second mo

[2022-10-10 18:44] nerdoc commented on #181
@ruiqurm maybe you could change the title to something like "between does not respect rrule pattern".

[2022-11-23 14:23] bonokl commented on #174
I don't know if #191 solves the problem.

Imagine this:
server timezone is 'UTC', and user's timezone is 'Europe/Berlin' (+01:00 or +02:00 depending on the time of the year).
Let's say user needs daily occurrences between 29.10. and 2.11. at 16:00h.
User is creating a recurrence on 26.10. when his timezone is +02:00 compared to UTC.
Current implementation will save dtstart as 14:00 UTC. And as res

[2022-11-24 19:54] aleksihakli commented on #174
Good note @bonokl. Would you like to open a new issue for this, and possibly propose a fix in the form of a spec, or even better, a PR for the issue?